.graph-view {
  font-family: var(--text) !important;
}

/* filled color for the circle when not hover*/
.graph-view.color-fill {
  color: var(--text-normal);
}

/*  color for the connecting line when not hover  --background-modifier-border*/
.graph-view.color-line {
  color: var(--color-10);
}

/* color for text */
.graph-view.color-text {
  font-family: var(--text) !important;
  color: var(--text-normal);
}

/* filled color for the circle when hover*/
.graph-view.color-fill-highlight {
  color: var(--text-accent);
}

/*  color for the connecting line when hover*/
.graph-view.color-line-highlight {
  color: var(--text-accent);
  border: 0;
}

/* color for the circle stroke */
.graph-view.color-circle {
  color: var(--text-accent);
}

.graph-view.color-fill-unresolved {
  color: var(--text-fainter);
  opacity: 1;
}

.graph-view.color-fill-tag {
  color: rgb(var(--teal-rgb)) !important;
}

.graph-view.color-fill-attachment {
  color: rgb(var(--yellow-rgb)) !important;
}
