:root {
  --text-editor: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-monospace: Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace;
  --text: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;

  --editor-font-size: 18px;
  --editor-line-height: 1.88889;
  --editor-line-height-rem: 1.88889rem;
  --editor-font-weight: 400;
  --editor-font-features: "";

  --font-small: 14px;

  --cursor: pointer;

  --radius-s: 4px;
  --radius-m: 6px;
  --radius-l: 10px;
  --radius-xl: 20px;

  --max-width: 100%;
  --line-width: 42rem;

  --accent-h: 211;
  --accent-s: 100%;
  --accent-d: 52%;

  --rgb-black: 0, 0, 0;
  --rgb-1a: 30, 30, 30;
  --rgb-cc: 204, 204, 204;
  --rgb-white: 255, 255, 255;
}

.theme-light {
  --red-rgb: 255, 59, 48;
  --orange-rgb: 255, 149, 0;
  --yellow-rgb: 255, 204, 0;
  --green-rgb: 52, 199, 89;
  --teal-rgb: 90, 200, 250;
  --blue-rgb: 0, 122, 255;
  --indigo-rgb: 88, 86, 214;
  --purple-rgb: 175, 82, 222;
  --pink-rgb: 255, 45, 85;

  --accent-rgb: var(--blue-rgb);
  --foreground-rgb: var(--rgb-black);
  --background-rgb: var(--rgb-white);

  --color-90: rgba(var(--foreground-rgb), 0.9);
  --color-80: rgba(var(--foreground-rgb), 0.8);
  --color-70: rgba(var(--foreground-rgb), 0.7);
  --color-60: rgba(var(--foreground-rgb), 0.6);
  --color-50: rgba(var(--foreground-rgb), 0.5);
  --color-40: rgba(var(--foreground-rgb), 0.4);
  --color-30: rgba(var(--foreground-rgb), 0.3);
  --color-20: rgba(var(--foreground-rgb), 0.2);
  --color-10: rgba(var(--foreground-rgb), 0.1);
  --color-3: rgba(var(--foreground-rgb), 0.03);
  --color-2: rgba(var(--foreground-rgb), 0.02);
  --color-0: rgb(var(--background-rgb));

  --color-accent: rgb(var(--accent-rgb));
  --color-gray: #b8b8b8;

  --shade-plus-darker: rgba(0, 0, 0, 0.05);
  --shade-plus-lighter: rgba(245, 245, 245, 0.15);

  --background-primary: var(--color-0);
  --text-normal: var(--color-90);
  --text-muted: var(--color-50);
  --text-fainter: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 15%));
  --text-faintest: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 3%));
  --text-accent-faint: hsla(
    var(--accent-h),
    calc(var(--accent-s) - 60%),
    var(--accent-l),
    0.3
  );
  --text-selection: hsl(var(--accent-h), var(--accent-s), 96%);
  --opacity-translucency: 1;
}

.theme-light.minimal-light-contrast
  .workspace-fake-target-overlay.is-in-sidebar,
.theme-light.minimal-light-contrast .titlebar,
.theme-light.minimal-light-contrast .status-bar,
.theme-light.minimal-light-contrast .workspace-ribbon.mod-left,
.theme-light.minimal-light-contrast .mod-left-split,
.theme-light.minimal-light-contrast .modal.mod-settings .vertical-tab-header,
.theme-dark {
  --red-rgb: 255, 69, 58;
  --orange-rgb: 255, 159, 10;
  --yellow-rgb: 255, 214, 10;
  --green-rgb: 50, 215, 75;
  --teal-rgb: 100, 210, 255;
  --blue-rgb: 10, 132, 255;
  --indigo-rgb: 94, 92, 230;
  --purple-rgb: 191, 90, 242;
  --pink-rgb: 255, 45, 85;

  --accent-rgb: var(--blue-rgb);
  --foreground-rgb: var(--rgb-cc);
  --background-rgb: var(--rgb-1a);

  --color-90: rgba(var(--foreground-rgb), 0.9);
  --color-80: rgba(var(--foreground-rgb), 0.8);
  --color-70: rgba(var(--foreground-rgb), 0.7);
  --color-60: rgba(var(--foreground-rgb), 0.6);
  --color-50: rgba(var(--foreground-rgb), 0.5);
  --color-40: rgba(var(--foreground-rgb), 0.4);
  --color-30: rgba(var(--foreground-rgb), 0.3);
  --color-20: rgba(var(--foreground-rgb), 0.2);
  --color-10: rgba(var(--foreground-rgb), 0.1);
  --color-3: rgba(var(--foreground-rgb), 0.03);
  --color-2: rgba(var(--foreground-rgb), 0.02);
  --color-0: rgb(var(--background-rgb));

  --color-accent: rgb(var(--accent-rgb));
  --color-gray: #6c6c6c;

  --shade-plus-darker: rgba(255, 255, 255, 0.15);
  --shade-plus-lighter: rgba(0, 0, 0, 0.15);

  --background-primary: var(--color-0);
  --text-normal: var(--color-90);
  --text-muted: var(--color-50);
  --text-fainter: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 15%));
  --text-faintest: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 3%));
  --text-accent-faint: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.25
  );
  --text-selection: hsl(var(--accent-h), calc(var(--accent-s) - 50%), 15%);
  --opacity-translucency: 1;
}

body,
html {
  font-size: 18px;
}

body {
  padding-top: 28px !important;
}

body,
input,
button,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
  -webkit-font-smoothing: antialiased !important;
}

.workspace {
  background-color: var(--color-3);
}

.workspace-split.mod-root {
  background-color: var(--background-primary);
}

body:not(.hider-frameless) .workspace-split.mod-root,
body:not(.hider-frameless) .workspace-split.mod-right-split {
  border-top: 1px solid var(--shade-plus-darker) !important;
}

.workspace-split.mod-root.mod-horizontal .workspace-leaf-resize-handle,
.workspace-split.mod-root.mod-vertical .workspace-leaf-resize-handle {
  border-width: 0;
}

.nav-file-title,
.nav-folder-title,
.is-collapsed .search-result-file-title,
.tag-pane-tag {
  color: var(--text-normal);
  font-weight: 500;
  line-height: 1;
}

.nav-folder-children {
  padding: 0;
}

.nav-folder-children > .nav-folder {
  padding: 0 10px;
}

.nav-file {
  padding: 0 10px;
  margin-left: 0;
}

.nav-file-tag {
  margin: 0 4px 0 0;
  position: static;
}

.nav-file-title,
.nav-folder-title {
  width: 100%;
  margin: 0;
  padding: 0 9px;
  border-radius: var(--radius-s);
}

.nav-file-title-content,
.nav-folder-title-content {
  padding: 6px 0;
  border: none;
  line-height: 1;
}

.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: var(--shade-plus-darker);
}

.nav-folder-collapse-indicator {
  position: static;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  height: auto;
  display: flex;
  transform: rotate(90deg);
}

.is-collapsed .nav-folder-collapse-indicator {
  transform: rotate(0deg);
}

.nav-folder-title-content {
  flex-grow: 1;
  padding-left: 4px;
}

.nav-folder-title,
.nav-file-title {
  border: none;
  display: flex;
  align-items: center;
}

.nav-file-icon {
  padding: 0;
  margin: 0;
  vertical-align: unset;
  top: 0;
  line-height: 0;
}

.nav-file-icon:before,
.nav-file-title-content:only-child:before,
.search-result-collapse-indicator + span:before {
  position: relative;
  padding-right: 4px;
  margin: 0;
}

.nav-file-title-content:only-child:before,
.search-result-collapse-indicator + span:before {
  top: 0.5px;
}

.search-result-collapse-indicator,
.search-result-file-title:hover .search-result-collapse-indicator,
.side-dock-collapsible-section-header-indicator:hover,
.side-dock-collapsible-section-header:hover
  .side-dock-collapsible-section-header-indicator,
.tree-view-item-collapse,
.is-collapsed .search-result-collapse-indicator,
.nav-folder-collapse-indicator,
.side-dock-collapsible-section-header-indicator,
.is-collapsed .side-dock-collapsible-section-header-indicator {
  color: var(--text-normal);
}

.view-header-title,
.file-embed-title,
.markdown-embed-title {
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 500;
}

.view-header-title:before {
  display: none;
}

html .hider-frameless .workspace-split.mod-left-split > .workspace-tabs {
  padding-top: 28px;
}

.workspace-split:not(.mod-right-split) .workspace-tabs {
  background-color: transparent;
  box-shadow: inset -10px 0 4px -10px rgba(0, 0, 0, 0.04);
}

.is-translucent .workspace-split:not(.mod-right-split) .workspace-tabs {
  background: rgba(245, 245, 245, 0.8);
}

.theme-dark .workspace-split:not(.mod-right-split) .workspace-tabs {
  background: var(--color-10);
}

.theme-dark.is-translucent
  .workspace-split:not(.mod-right-split)
  .workspace-tabs {
  background: rgba(40, 40, 40, 0.8);
}

.workspace-split.mod-right-split {
  background-color: var(--color-0);
}

.workspace-split.mod-right-split > .workspace-tabs {
  padding-left: 5px;
  padding-right: 5px;
}

.titlebar {
  background: var(--color-3);
  border-bottom: none;
}

.status-bar,
.is-translucent .status-bar {
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(245, 245, 245, 0.7);
  background-blend-mode: hard-light;
  backdrop-filter: blur(8px);
  border-top: 1px solid var(--shade-plus-darker);
  border-left: 1px solid var(--shade-plus-darker);
  border-top-left-radius: var(--radius-m);
  line-height: 1;
  padding: 8px 12px 8px 0;
  color: var(--text-muted);
  max-height: unset;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.theme-dark .status-bar {
  background: rgba(60, 60, 60, 0.5);
  background-blend-mode: luminosity;
  border-color: var(--color-3);
}

.status-bar-item {
  padding: 0 0 0 10px;
}

.titlebar {
  height: 28px !important;
  top: 0 !important;
  padding-top: 0 !important;
}

.titlebar-inner {
  height: 28px;
}

.titlebar-button-container {
  height: 28px;
  top: 0;
}

.titlebar-button-container.mod-left {
  display: none;
}

body:not(.plugin-sliding-panes-rotate-header)
  .workspace-leaf-content[data-type="markdown"]
  .workspace-leaf-header,
body:not(.plugin-sliding-panes-rotate-header)
  .workspace-leaf-content[data-type="markdown"]
  .view-header {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}

body.theme-dark:not(.plugin-sliding-panes-rotate-header)
  .workspace-leaf-content[data-type="markdown"]
  .workspace-leaf-header,
body.theme-dark:not(.plugin-sliding-panes-rotate-header)
  .workspace-leaf-content[data-type="markdown"]
  .view-header {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.view-header {
  height: unset;
  display: flex;
  align-items: center;
  padding: 6px 10px !important;
}

.mod-macos.hider-frameless
  .workspace-split.mod-left-split.is-collapsed
  + .mod-root
  .workspace-leaf:first-of-type
  .view-header {
  padding-left: 70px !important;
}

.view-header-icon {
  align-items: center;
  border-radius: var(--radius-s);
  color: var(--color-40);
  cursor: grab;
  display: flex;
  justify-content: center;
  line-height: 1;
  opacity: 1 !important;
  padding: 4px 6px !important;
  position: static;
  top: 0;
}

.view-header-icon:hover {
  color: var(--text-muted);
  background-color: var(--shade-plus-darker);
}

.view-header-title-container {
  position: static;
  margin: 0;
  width: unset;
  line-height: 1;
  height: unset;
}

.view-header-title {
  padding: 0;
  line-height: 1;
  margin-left: 7px;
}

.view-actions {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.view-actions .view-action {
  align-items: center;
  border-radius: var(--radius-s);
  color: var(--color-40);
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 0 0 0 5px;
  opacity: 1;
  padding: 4px 6px;
  position: static;
}

.view-actions .view-action:last-child {
  margin-left: 5px;
}

.view-action:hover {
  color: var(--text-muted);
  background-color: var(--shade-plus-darker);
}

body.plugin-sliding-panes:not(.is-fullscreen)
  .workspace-split.is-collapsed
  ~ .workspace-split.mod-root
  .view-header {
  padding-top: 0;
  transition: none;
}

body.plugin-sliding-panes-rotate-header
  .app-container
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-actions {
  padding-bottom: 0;
}

body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container
  > .view-header-title {
  padding-top: 0;
}

html
  > body.plugin-sliding-panes-stacking
  .workspace
  > .mod-root
  > .workspace-leaf,
body.plugin-sliding-panes .workspace-split.mod-vertical > .workspace-leaf {
  box-shadow: var(--shade-plus-darker) -1px -0px !important;
}

html
  > body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

html
  > body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container
  > .view-header-title {
  line-height: 1;
  padding: 10px 6px;
  margin: 0;
  transform: translate3d(1.5px, 0, 0);
}

html
  > body.plugin-sliding-panes-rotate-header.plugin-sliding-panes-header-alt
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-header-title-container {
  display: flex;
  align-items: center;
  margin: 0 0;
  width: 100%;
  max-width: unset;
}

body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container:before {
  display: none;
}

html
  > body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-header-icon {
  margin: 28px 0 17px;
}

body.plugin-sliding-panes-rotate-header
  .app-container
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-actions {
  width: 100%;
  margin: 0 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.plugin-sliding-panes-rotate-header.hider-ribbon
  .workspace-split.mod-left-split.is-collapsed
  + .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-actions {
  margin-bottom: 47px !important;
}

body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-action {
  margin: 5px 0 0 0 !important;
}

body:not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='localgraph'] .view-header, body:not(.plugin-sliding-panes-rotate-header) .workspace-leaf-content[data-type='graph'] .view-header {
  position: static;
}

.workspace-leaf-resize-handle {
  z-index: 11;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  border-left: none;
  background-color: var(--shade-plus-darker);
  width: 2px !important;
}

.theme-dark .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  background-color: rgba(var(--rgb-black), 0.3);
}

.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
  border-right: none;
}

.workspace-split.mod-root.mod-vertical .workspace-leaf-resize-handle,
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  border-width: 0;
  background-color: var(--shade-plus-darker);
}

.theme-dark .workspace-split.mod-root.mod-vertical .workspace-leaf-resize-handle,
.theme-dark .workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  background-color: rgba(var(--rgb-black), 0.3);
}

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  border-bottom: none;
  height: 2px;
  width: calc(100% - 2px);
}

.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  border-right: transparent;
}

.workspace-split.mod-right-split > .workspace-leaf-resize-handle:active,
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle:active,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle:active {
  background-color: var(--color-10) !important;
  box-shadow: 1px 0 0 var(--color-10), -1px 0 0 var(--color-10);
}

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle:active {
  background-color: var(--color-10) !important;
  box-shadow: 0 1px 0 var(--color-10), 0 -1px 0 var(--color-10);
}

.workspace-tab-header,
.workspace-tab-header-inner,
.workspace-tab-container-before,
.workspace-tab-container-after {
  transition: none;
}

.workspace-tab-header-inner {
  line-height: 1;
  padding: 0;
}

.workspace-tab-container-inner {
  background: var(--shade-plus-darker);
  flex-grow: 0;
  flex-shrink: 1;
  width: unset;
  max-width: unset;
  border-bottom: none;
  margin: 0;
  padding: 1px;
  border-radius: var(--radius-s);
  box-shadow: inset 0px 0px 4px rgba(var(--rgb-black), 0.04);
}

.theme-dark .workspace-tab-container-inner {
  background: rgba(var(--rgb-black), 0.2);
}

.workspace-tab-header-container {
  height: unset;
  padding: 5px 10px 10px;
  display: flex;
}

.workspace-tab-header {
  color: var(--text-muted);
  cursor: pointer;
  opacity: 1;
  border-radius: var(--radius-s) !important;
  padding: 4px 6px;
}

.workspace-tab-header + .workspace-tab-header {
  margin-left: 1px;
}

.workspace-tab-header.is-active,
.workspace-tab-header.is-active:hover,
.workspace-tab-header:hover {
  color: var(--text-muted);
  background-color: var(--color-0);
  box-shadow: 0px 0.5px 1px 0.5px rgba(var(--rgb-black), 0.1);
}

.theme-dark .workspace-tab-header.is-active,
.theme-dark .workspace-tab-header.is-active:hover,
.theme-dark .workspace-tab-header:hover {
  color: var(--color-80);
  background-color: var(--color-20);
}

.workspace-tab-header-inner-icon {
  display: flex;
}

.nav-action-button,
.workspace-leaf-content[data-type="search"] .nav-action-button,
.workspace-leaf-content[data-type="backlink"] .nav-action-button {
  padding: 4px 6px;
  opacity: 1;
  margin-right: 5px;
  cursor: pointer;
  border-radius: var(--radius-s);
  display: flex;
}

.nav-action-button:hover {
  background-color: var(--shade-plus-darker);
}

.nav-buttons-container {
  padding: 4px 10px 1px;
  margin-bottom: 0px !important;
  justify-content: flex-start;
  border: 0;
  line-height: 1;
}

.nav-files-container {
  padding-top: 10px;
}

.search-input-container {
  flex-grow: 1;
  width: auto;
  margin: 0;
  padding: 10px 10px;
}

.menu {
  color: var(--color-90);
  border: 1px solid var(--color-10);
  background: rgba(245, 245, 245, 0.5);
  background-blend-mode: hard-light;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px);

  font-weight: 500;
  border-radius: 6px;
  padding: 10px 14px;
}

.theme-dark .menu {
  background-blend-mode: luminosity;
  border: 1px solid var(--color-20);
  background: rgba(60, 60, 60, 0.5);
}

.menu-item {
  font-size: 13px;
  line-height: 1;
  border-radius: var(--radius-s);
  padding: 5px 10px;
  margin: 0 -10px;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: var(--shade-plus-darker);
}

.menu-separator {
  height: 0;
  margin: 10px 0;
  border-bottom: 1px solid var(--shade-plus-darker);
}

.menu-item-icon {
  color: var(--text-muted);
  position: static;
  width: unset;
  margin-right: 6px;
}

#calendar-container {
  padding: 5px 10px;
}

#calendar-container .calendar {
  background-color: var(--color-3);
  border-spacing: 0;
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-l);
  padding: 5px;
  border-collapse: separate;
}

#calendar-container .day {
  font-size: 14px;
  line-height: 1;
  padding: 10px 0;
  margin: 1px;
  border-radius: var(--radius-s);
  transition: box-shadow 100ms ease-out, background-color 100ms ease-out;
}

#calendar-container .day > .dot-container {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 4px;
}

#calendar-container svg.dot,
#calendar-container .active svg.dot {
  fill: var(--text-accent);
}

#calendar-container svg.task,
#calendar-container .active svg.task {
  stroke: var(--text-accent);
}

#calendar-container svg.dot,
#calendar-container svg.task {
  width: 4px;
  height: 4px;
}

#calendar-container tr th {
  font-size: 11px;
  text-transform: none;
  color: var(--text-normal);
  padding: 5px 0 10px;
  letter-spacing: 0;
}

#calendar-container tr td {
  border: none;
  padding: 0;
  width: calc(100% / 7);
}

#calendar-container td:not(:empty):hover {
  background: none;
}

#calendar-container .active,
#calendar-container .active.today {
  background: var(--color-0);
  font-weight: 500;
  box-shadow: inset 0 0 0 2px rgba(var(--accent-rgb), 0.5),
    0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

#calendar-container .active.today {
  color: var(--text-accent);
  font-weight: 700;
}

#calendar-container .today {
  font-weight: 700;
}

#calendar-container .week-num:hover,
#calendar-container .day:hover {
  background: var(--color-0);
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

#calendar-container .active.day:hover {
  background: var(--color-0);
  box-shadow: inset 0 0 0 2px rgba(var(--accent-rgb), 0.5),
    0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

#calendar-container .month,
#calendar-container .title,
#calendar-container .reset-button {
  letter-spacing: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}

.workspace-ribbon {
  width: unset;
  border-width: 0;
  background: var(--background-primary);
}

body:not(.hider-frameless) .workspace-ribbon.mod-left {
  padding-top: 5px;
  transition: padding-right 100ms ease, box-shadow 100ms ease;
}

body:not(.hider-frameless) .workspace-ribbon.mod-left.is-collapsed {
  box-shadow: inset -10px 0 4px -10px rgba(0, 0, 0, 0.04);
  padding-right: 5px;
}

.hider-ribbon .workspace-ribbon {
  padding: 0;
}

.workspace-ribbon.mod-left {
  background: transparent;
  padding: 0 0 0 5px;
}

.workspace-ribbon.mod-left {
  position: relative;
  flex-basis: 0;
}

.workspace-split.mod-left-split {
  margin-left: 0;
}

.workspace-ribbon.mod-right {
  height: unset;
  width: unset;
  padding: 0 5px 0 0;
}

.side-dock-settings {
  margin-bottom: 55px;
}

.workspace-ribbon .workspace-ribbon-collapse-btn,
.workspace-ribbon.mod-left .workspace-ribbon-collapse-btn {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  height: unset;
  width: unset;
  top: unset;
  line-height: 0;
  padding: 4px 6px;
  bottom: 28px;
  border-radius: var(--radius-s);
  transition: none;
}

.workspace-ribbon.mod-right .workspace-ribbon-collapse-btn {
  margin-bottom: 28px;
  position: static;
}

.hider-ribbon .workspace-ribbon-collapse-btn {
  display: none !important;
}

.workspace-ribbon .workspace-ribbon-collapse-btn:hover {
  background: var(--shade-plus-darker);
}

.hider-ribbon .workspace-ribbon.mod-left:after {
  content: none;
}

body.hider-frameless:not(.hider-ribbon) .side-dock-actions {
  padding-top: 32px;
}

.hider-ribbon .workspace-ribbon.mod-left {
  width: unset;
  height: unset;

  background: rgba(245, 245, 245, 0.5);
  background-blend-mode: hard-light;
  backdrop-filter: blur(81.5485px);

  border-top: 1px solid var(--color-10);
  border-right: 1px solid var(--color-10);
  border-top-right-radius: var(--radius-m);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.theme-dark.hider-ribbon .workspace-ribbon.mod-left {
  background: rgba(60, 60, 60, 0.5);
  background-blend-mode: luminosity;
  border-color: var(--color-3);
}

.hider-ribbon .side-dock-actions,
.hider-ribbon .side-dock-settings {
  background-color: transparent;
  border-top: none;
}

.hider-ribbon .workspace-ribbon.mod-left .side-dock-ribbon-action,
.workspace-ribbon.mod-left .side-dock-ribbon-action {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-muted);
  padding: 4px 6px;
  margin-bottom: 5px;
  border-radius: var(--radius-s);
}

.hider-ribbon .workspace-ribbon.mod-left .side-dock-ribbon-action {
  margin-bottom: 0;
  margin-right: 5px;
}

.side-dock-settings {
  padding: 0;
}

.side-dock-ribbon-action:hover {
  background: var(--shade-plus-darker);
}

.hider-ribbon .side-dock-actions {
  padding: 5px 0 5px 5px;
}

.hider-ribbon .side-dock-settings {
  padding: 5px 5px 5px 0;
}

.side-dock-collapsible-section-header {
  text-transform: capitalize;
  letter-spacing: unset;
  font-size: 12px;
  padding: 6px 10px;
}

.search-result-collapse-indicator {
  margin-right: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  padding: 0;
  position: static;
  transform: rotate(90deg);
}

.is-collapsed .search-result-file-title {
  font-size: 13px !important;
}

.is-collapsed .search-result-collapse-indicator {
  transform: rotate(0deg);
}

.search-result-file-title {
  cursor: pointer !important;
  align-items: center;
  display: flex;
  line-height: 1;
  font-size: 13px !important;
  font-weight: 500;
  padding: 6px 0;
}

.search-result-file-matches {
  color: var(--text-normal);
  font-size: 12px;
  line-height: 1.6;
  margin: 0;
  padding: 0 0 10px 8px !important;
  border-bottom: none;
}

.search-result-file-match {
  border-radius: var(--radius-m);
  cursor: pointer !important;
  position: relative;
  padding: 6px 10px 6px 10px;
  margin-bottom: 5px;
  width: 100%;
  left: 0;
}

.search-result-file-match:not(.search-info-more-matches) {
  border: 3px solid transparent;
  background: var(--color-0);
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
  transition: border-color 150ms ease-out;
}

.theme-dark .search-result-file-match:not(.search-info-more-matches) {
  border: 3px solid transparent;
  background: var(--color-10);
}

.search-result-file-match:before {
  content: none;
}

.search-result-file-match:not(.search-info-more-matches):hover {
  border: 3px solid rgba(var(--accent-rgb), 0.6);
}

.search-result-file-match.search-info-more-matches:hover {
  background: var(--shade-plus-darker);
}

.search-result-file-matched-text {
  background: rgba(var(--accent-rgb), 0.15);
}

.theme-dark .search-result-file-matched-text {
  background: rgba(var(--accent-rgb), 0.25);
}

.search-info-more-matches {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.backlink-pane {
  padding: 10px 0 50px;
}

.backlink-pane .search-result-file-title {
  padding-left: 0;
}

.backlink-pane .search-result-container {
  padding: 0 10px 5px 10px;
}

.backlink-pane .search-result-file-match {
  background-color: var(--color-3);
}

.graph-controls .search-input-container input,
.workspace-leaf-content .search-input-container input,
.workspace-leaf-content .search-input-container input:hover,
.workspace-leaf-content .search-input-container input:focus {
  font-size: 13px;
  padding: 6px 10px;
  line-height: 1;
  height: auto;
  border-radius: var(--radius-m);
}

.graph-controls .search-input-container input,
.workspace-leaf-content .search-input-container input,
.document-search-input,
.document-replace-input {
  background-color: var(--color-0);
  border: 1px solid var(--color-10);
}

.graph-controls .search-input-container input:hover,
.workspace-leaf-content .search-input-container input:hover,
.document-search-input:hover,
.document-replace-input:hover {
  border: 1px solid var(--color-10);
}

.graph-controls .search-input-container input:focus,
.workspace-leaf-content .search-input-container input:focus,
.document-search-input:focus,
.document-replace-input:focus {
  border: 1px solid rgba(var(--accent-rgb), 0.5);
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(var(--accent-rgb), 0.5);
}

.document-search,
.document-replace {
  height: auto;
  overflow: visible;
  justify-content: flex-end;
}

.document-replace {
  padding-top: 10px;
}

input.document-search-input,
input.document-replace-input {
  font-size: 13px !important;
  height: auto;
  margin: 0;
  padding: 6px 10px;
  line-height: 1;
  border-radius: var(--radius-m);
  max-width: 400px;
}

.search-input-clear-button:before {
  font-size: 18px;
  display: block;
}

.search-input-clear-button {
  cursor: pointer;
  top: 50%;
  right: 16px;
  bottom: unset;
  line-height: 1;
  height: unset;
  width: unset;
  margin: 0;
  padding: 0;
  text-align: unset;
  vertical-align: unset;
  align-items: center;
  color: var(--text-faint);
  transform: translate3d(0, -50%, 0);
}

.document-search-container.mod-replace-mode {
  height: unset;
}

.document-search-container {
  position: absolute;
  height: unset;
  bottom: unset;
  top: 0;
  padding: 6px 10px;
  border-top: 1px solid var(--shade-plus-darker);
  border-bottom: 1px solid var(--shade-plus-darker);
}

.cm-s-obsidian span.obsidian-search-match-highlight {
  box-shadow: 0 0 0px 2px rgba(var(--accent-rgb), 0.8);
}

.document-search-buttons,
.document-replace-buttons {
  margin-left: 5px;
  display: flex;
  font-size: 13px;
  line-height: 1;
  width: 210px;
}

.document-search-button {
  color: var(--text-normal);
  font-size: 13px;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: var(--radius-m);
  font-weight: 500;
  background-color: var(--shade-plus-darker);
  cursor: pointer;
  height: auto;
  padding: 4px 8px;
  margin: 0 0 0 5px;
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.document-search-button:hover {
  background-color: var(--color-10);
}

.document-search-close-button {
  justify-self: flex-end;
  top: 0;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 0 4px;
  width: var(--header-width);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.markdown-source-view.is-searching .CodeMirror,
.markdown-source-view.is-replacing .CodeMirror {
  padding-bottom: 0;
}

.tooltip {
  animation: unset !important;
}

.workspace-leaf-content .setting-item {
  padding: 0;
  border: none;
  justify-content: space-between;
}

.workspace-leaf-content .setting-item-control {
  flex-shrink: 0;
  flex-grow: 1;
}

.outline {
  padding: 10px 10px 5rem;
}

.outline .collapsible-item-collapse {
  color: var(--text-normal);
  padding: 0;
  position: static;
  line-height: 1;
  display: flex;
}

.outline .collapsible-item-self {
  color: var(--text-normal);
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 5px;
  margin: 0;
}

.outline > .collapsible-item > .collapsible-item-self .right-triangle {
  opacity: unset;
}

.outline .collapsible-item-inner {
  padding: 4px 6px;
  line-height: 1.4;
}

.tree-view-item-self:hover .tree-view-item-collapse, .collapsible-item-self.is-clickable:hover {
  color: var(--text-normal);
}

.outline .collapsible-item-self.is-clickable .collapsible-item-inner:hover {
  background-color: var(--shade-plus-darker);
  border-radius: var(--radius-m);
}

.tag-container {
  padding: 0;
}

.tag-pane-tag {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.tag-pane-tag-text {
  display: block;
  padding: 4px 6px;
  border-radius: var(--radius-m);
  margin: 0;
}

.tag-pane-tag-text:hover {
  background-color: var(--shade-plus-darker);
}

.tag-pane-tag-count {
  color: var(--text-muted);
  display: block;
  position: static;
  font-size: inherit;
}

.tag-pane-tag:hover .tag-pane-tag-count {
  color: var(--text-accent);
}

.graph-controls {
  top: 10px !important;
  left: 10px;
  
  color: var(--color-90);
  border: 1px solid var(--color-10);
  background: rgba(245, 245, 245, 0.6);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px);

  font-weight: 500;
  border-radius: var(--radius-m);
  padding: 18px;
}

.graph-controls.is-close {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  line-height: 1;
}

.theme-dark .graph-controls {
  border: 1px solid var(--color-20);
  background: rgba(60, 60, 60, 0.5);
}

.graph-controls .collapse-icon {
  font-size: 14px;
  margin-left: -3px;
}

.graph-controls .collapsible-item-self {
  cursor: pointer;
  color: var(--text-normal);
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0;
  margin: 5px 0;
}

.graph-control-section:not(:last-child) .collapsible-item-children {
  border-bottom: none;
}

.graph-control-section .collapsible-item-children {
  margin: 0 !important;
  padding-bottom: 16px;
}

.graph-controls .search-input-container {
  padding: 0;
  margin-bottom: 10px !important;
}

.graph-controls .collapsible-item-collapse {
  color: var(--text-normal);
  padding: 0;
  position: static;
  line-height: 1;
  display: flex;
}

.graph-controls > .collapsible-item > .collapsible-item-self .right-triangle {
  opacity: unset;
}

.graph-controls .graph-control-section-header {
  padding: 4px;
}

.graph-controls .setting-item-name {
  font-size: 13px;
  color: var(--text-normal);
}

.graph-controls .setting-item.mod-toggle .setting-item-control {
  margin-top: 0;
}

.graph-controls.is-close .graph-controls-button.mod-open,
.graph-controls:not(.is-close) .graph-controls-button.mod-reset,
.graph-controls:not(.is-close) .graph-controls-button.mod-close,
.graph-controls:not(.is-close):hover .graph-controls-button.mod-reset,
.graph-controls:not(.is-close):hover .graph-controls-button.mod-close {
  display: flex;
}

.graph-controls-button {
  padding: 3px 3px;
  font-size: 16px;
  line-height: 1;
  border-radius: var(--radius-s);
  color: var(--text-muted);
}

.graph-controls-button:hover {
  background-color: var(--shade-plus-darker);
}

.graph-controls-button.mod-close {
  align-items: center;
  top: 4px;
  right: 4px;
}

.graph-controls-button.mod-reset {
  top: 4px;
  right: 26px;
}

.graph-controls.is-close .graph-controls-button {
  padding: 6px 7px;
  opacity: 1;
}

