.modal > .modal-content.community-plugin {
  padding: 0;
  flex-direction: row;
  align-items: flex-start;
}

.community-plugin-search,
.community-plugin-details {
  height: 100%;
}

.community-plugin-search {
  padding: 0;

  .setting-item-info {
    display: none;
  }

  .setting-item {
    padding: 26px 0 0;
  }
  .setting-item-control {
    width: 100%;
  }

  .search-input-container {
    width: 100%;
    margin: 0;
  }

  button.clickable-icon {
    margin: 0 10px 0 0;
    padding: 8px 10px;
  }
}

.community-plugin-search-summary {
  padding: 0 12px 10px;
  font-size: 13px;
}

.community-plugin-search-results {
  @include vertical-scroll-shadow(var(--background-secondary-alt));

  .theme-dark & {
    @include vertical-scroll-shadow(var(--background-secondary-alt), 0.5);
  }
}

.community-plugin-item {
  padding: 16px 16px 16px;
  margin: 0;
  border-top: 1px solid var(--shade-plus-darker);

  .community-plugin-downloads {
    font-size: 12px;
  }

  .community-plugin-author {
    color: var(--text-muted);
    font-size: 12px;
    padding: 0 0 10px;
  }

  .community-plugin-desc {
    color: var(--text-normal);
  }

  &:hover {
    background-color: var(--shade-3);
  }
}

.community-plugin-downloads {
  color: var(--text-normal);
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  line-height: 1;
  padding: 4px 0 4px;

  > span {
    display: flex;
  }
}

.community-plugin-downloads-text {
  position: static;
}

.community-plugin-name {
  font-size: 14px;
  font-weight: 500;
  width: 100%;

  .flair {
    display: block;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
    letter-spacing: 0;
    text-transform: none;
    position: static;
    margin: 5px 0;
    width: fit-content;
  }
}

.community-plugin-version,
.community-plugin-author {
  line-height: inherit;
}

.community-plugin-info {
  .community-plugin-desc {
    color: var(--text-normal);
    line-height: 1.3;
    margin: 0;
    padding: 1.5em 0 0.5em;
  }
}
