.markdown-source-view.mod-cm6 {
  .cm-scroller {
    font-family: var(--editor-font);
    font-size: var(--editor-font-size);
    font-weight: var(--editor-font-weight);
    line-height: var(--editor-line-height);
    font-feature-settings: var(--editor-font-features);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
    max-width: var(--line-width);
  }

  &.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
    max-width: var(--line-width);
  }

  &.is-readable-line-width.is-rtl .cm-contentContainer {
    max-width: var(--line-width);
  }

  &.cm-s-obsidian {
    span.cm-inline-code {
      color: var(--text-normal);
    }

    span.cm-comment {
      color: var(--shade-70);
      font-style: italic;
    }

    span.cm-quote {
      color: var(--text-normal);

      &.cm-formatting-quote {
        color: var(--text-faint);
      }

      &:not(.cm-formatting-quote) {
        font-style: italic;
      }
    }

    span.cm-formatting-quote {
      font-weight: 600;
    }

    span.cm-url.cm-string:not(.cm-hmd-footnote-url) {
      color: var(--shade-20);
    }

    span.cm-link,
    span.cm-url,
    span.cm-hmd-internal-link {
      color: var(--text-accent);
    }

    span.cm-formatting-link,
    span.cm-formatting-image.cm-link,
    span.cm-formatting-link-string.cm-url.cm-string {
      color: var(--shade-10);
      display: inline-block;
      padding: 0 1px;
      font-weight: 600;
    }

    .HyperMD-task-line[data-task]:not([data-task=" "]),
    span.cm-strikethrough,
    span.cm-link.cm-strikethrough,
    span.cm-hmd-internal-link.cm-strikethrough {
      text-decoration: line-through;
      text-decoration-color: var(--shade-50);
      text-decoration-thickness: 2px;
    }

    .HyperMD-task-line[data-task]:not([data-task=" "]) {
      color: inherit;
    }

    span.cm-footref,
    span.cm-blockid {
      vertical-align: unset;
      margin-top: 0;
      font-size: unset;
    }

    span.cm-blockid {
      font-family: var(--font-monospace);
      font-size: 0.6em;
    }

    span.cm-formatting-list {
      color: var(--text-normal);
      font-weight: 600;
    }

    span.cm-hashtag {
      color: var(--text-accent);
      text-decoration: none;
    }

    span.cm-formatting-task {
      color: var(--text-normal);
      font-weight: 600;
    }

    span.cm-strong {
      font-weight: var(--strong-weight);
      color: var(--strong-color);

      &.cm-header {
        font-weight: 800;
      }
    }

    span.cm-em {
      color: var(--em-color);

      &.cm-header {
        font-style: italic;
      }
    }

    .HyperMD-footnote span.cm-link.cm-hmd-footnote {
      color: var(--text-accent);
    }

    .HyperMD-footnote span.cm-link.cm-hmd-footnote.cm-formatting {
      color: var(--shade-10);
    }

    .HyperMD-table-row {
      font-family: var(--font-monospace);
      font-size: calc(var(--editor-font-size) - 2px);
    }

    .HyperMD-codeblock-begin,
    .HyperMD-codeblock-end {
      color: inherit;
    }

    .HyperMD-codeblock {
      font-size: calc(var(--editor-font-size) - 2px);
      line-height: inherit;
    }

    .markdown-embed {
      padding-right: 1.5em;
    }

    .markdown-embed-link {
      transform: none;
      top: 0.2em;
      right: 0;
      left: unset;
      padding-right: 0;
      text-align: right;
    }

    &.is-live-preview 
    .markdown-embed-link {
      right: 5px;
      top: 5px;
    }

    .markdown-embed .markdown-preview-view {
      padding: 0;
    }
  }

  .cm-foldPlaceholder {
    margin-left: 0;
    font-weight: 800;
  }

  .list-bullet {
    font-size: 1.4em;
    line-height: 1;
  }

  &.is-live-preview .HyperMD-quote {
    background-color: transparent;
    padding: 0 0 0 1.4375rem;
    border-left: 2px solid var(--shade-plus-darker);
  }

  .cm-blockquote-border {
    border-color: var(--shade-plus-darker);
    border-left-width: 2px;
    text-indent: -2px;
  }
}
