.tooltip {
  font-size: 13px;
  font-weight: 500;
  color: var(--shade-60);
  animation: unset !important;
  background-color: var(--background-primary);
  box-shadow: none;
  line-height: 1.3;
  padding: 6px 8px;

  filter: drop-shadow(0px 0px 1px var(--shade-20)) drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));

  .tooltip-arrow {
    border-bottom-color: var(--background-primary);
  }

  &.mod-right .tooltip-arrow {
    border-right-color: var(--background-primary);
  }

  &.mod-left .tooltip-arrow {
    border-left-color: var(--background-primary);
  }

  &.mod-top .tooltip-arrow {
    border-top-color: var(--background-primary);
  }
}

.notice-container {
  top: var(--titlebar-height);
}

.notice {
  border: 1px solid var(--shade-5);
  color: var(--shade-90);
  background: rgb(245, 245, 245);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);

  font-weight: 500;
  border-radius: var(--radius-m);
  padding: 10px 14px;

  .theme-dark & {
    border: 1px solid var(--shade-10);
    background: rgb(60, 60, 60);
  }
}

.mod-warning {
  font-weight: 500;
}