.view-header {
  height: unset;
  align-items: center;
  padding: 6px 10px;
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.08);
  border-bottom: none;
  border-top: none;

  .theme-dark & {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

  &,
  .workspace-leaf.mod-active &,
  .workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type & {
    background-color: var(--background-primary);
    border-bottom: none;
  }
}

.view-header-title-container {
  padding-left: 0;
  line-height: 1;

  &:after {
    display: none;
  }
}

.view-header-title {
  padding: 3px 0;
  line-height: 1;
  margin-left: 7px;
  font-size: var(--ui-font-size);
  font-weight: 500;
}

.view-actions {
  margin-right: 1px;
  padding: 0;
  align-items: center;
}

.view-action {
  @include radius-s;

  top: 0;
  display: flex;

  color: var(--shade-40);
  margin: 0 0 0 5px;
  padding: 4px 6px;

  &:last-child {
    margin-left: 5px;
  }

  &:hover {
    color: var(--text-muted);
    background-color: var(--shade-plus-darker);
  }
}

.workspace-leaf-content .view-content {
  padding: 10px;
}
