// Style setting
.cc-header-spacing {
  .markdown-preview-view:not(.kanban-plugin__markdown-preview-view) {
    h1 {
      margin-top: calc(var(--h1-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h1-margin-bottom) * var(--editor-line-height-rem)
      );
    }

    h2 {
      margin-top: calc(var(--h2-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h2-margin-bottom) * var(--editor-line-height-rem)
      );
    }

    h3 {
      margin-top: calc(var(--h3-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h3-margin-bottom) * var(--editor-line-height-rem)
      );
    }

    h4 {
      margin-top: calc(var(--h4-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h4-margin-bottom) * var(--editor-line-height-rem)
      );
    }

    h5 {
      margin-top: calc(var(--h5-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h5-margin-bottom) * var(--editor-line-height-rem)
      );
    }

    h6 {
      margin-top: calc(var(--h6-margin-top) * var(--editor-line-height-rem));
      margin-bottom: calc(
        var(--h6-margin-bottom) * var(--editor-line-height-rem)
      );
    }
  }

  .popover .markdown-embed .markdown-preview-view,
  .workspace-tabs .markdown-preview-view {
    h1 {
      margin-top: calc(
        var(--h1-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h1-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }

    h2 {
      margin-top: calc(
        var(--h2-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h2-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }

    h3 {
      margin-top: calc(
        var(--h3-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h3-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }

    h4 {
      margin-top: calc(
        var(--h4-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h4-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }

    h5 {
      margin-top: calc(
        var(--h5-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h5-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }

    h6 {
      margin-top: calc(
        var(--h6-margin-top) * var(--editor-line-height-small-rem)
      );
      margin-bottom: calc(
        var(--h6-margin-bottom) * var(--editor-line-height-small-rem)
      );
    }
  }
}

// Style setting
.cc-soft-wrap-code-blocks {
  code[class*="language-"],
  pre[class*="language-"] {
    overflow: hidden;
    white-space: pre-wrap;
  }
}

.cc-seamless-embed {
  .markdown-embed .markdown-preview-view {
    padding: 0;
  }

  .markdown-embed {
    border: none;
    padding: 0;
    margin: 0;
  }

  .markdown-embed-title {
    display: none;
  }

  .is-live-preview .markdown-embed-title {
    display: block;
  }
}
