.menu {
  color: var(--shade-90);
  border: 1px solid var(--shade-10);
  background: rgb(245, 245, 245);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  font-weight: 500;
  border-radius: var(--radius-m);
  padding: 10px 14px;

  .theme-dark & {
    border: 1px solid var(--shade-20);
    background: rgb(60, 60, 60);
  }
}

.menu-item {
  @include radius-s;
  @include flex-align-center;

  font-size: 13px;
  line-height: 1;
  padding: 5px 10px;
  margin: 0 -10px;

  &:hover:not(.is-disabled):not(.is-label),
  &.selected:not(.is-disabled):not(.is-label) {
    background-color: var(--shade-plus-darker);
  }
}

.menu-separator {
  margin: 10px 0;
  border-bottom: 1px solid var(--shade-plus-darker);
}

.menu-item-icon {
  color: var(--text-muted);
  position: static;
  width: unset;
  margin-right: 6px;
  display: flex;
}
