/* @settings

name: California Coast Theme
id: obsidian-california-coast-theme
settings:
    - 
        id: accent-color-title
        title: Colors
        type: heading
        level: 3
        collapsed: true
    - 
        id: accent
        title: Accent Color
        type: variable-color
        format: hsl-split
        default: '#007AFF'
    - 
        id: text-highlight-bg
        title: Highlight Color
        type: variable-themed-color
        format: rgb
        opacity: true
        default-light: 'rgba(255, 224, 0, 0.5)'
        default-dark: 'rgba(255, 177, 80, 0.3)'
    - 
        id: text-selection
        title: Text Selection Background Color
        type: variable-themed-color
        format: hsl
        opacity: true
        default-light: 'hsla(0, 0%, 0%, 0.08)'
        default-dark: 'hsla(211, 100%, 42%, 0.3)'
    - 
        id: strong-color
        title: Bold Color
        type: variable-themed-color
        format: hex
        default-light: '#1a1a1a'
        default-dark: '#bababa'
    - 
        id: em-color
        title: Italic Color
        type: variable-themed-color
        format: hex
        default-light: '#1a1a1a'
        default-dark: '#bababa'
    - 
        id: h1-color
        title: H1 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: h2-color
        title: H2 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: h3-color
        title: H3 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: h4-color
        title: H4 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: h5-color
        title: H5 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: h6-color
        title: H6 Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'
    - 
        id: code-color
        title: Indent Code Color
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#1f1f1f'
        default-dark: '#bababa'

    - 
        id: custom-fonts
        title: Fonts
        type: heading
        level: 3
        collapsed: true
    - 
        id: font-interface-theme
        title: UI font
        description: Font used for the user interface
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    -
        id: default-font-smoothing
        title: UI font smoothing
        description: Changes the antialiasing—or crispness—of the UI font
        type: variable-select
        default: antialiased
        options:
            - auto
            - antialiased
            - subpixel-antialiased
            - none
    - 
        id: font-text-theme
        title: Editor font
        description: Font used for the editor and preview
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    -
        id: editor-font-smoothing
        title: Editor font smoothing
        description: Changes the antialiasing—or crispness—of the editor font
        type: variable-select
        default: antialiased
        options:
            - auto
            - antialiased
            - subpixel-antialiased
            - none
    -
        id: editor-font-features
        title: Editor font features
        description: 'Enable various features supported by your font, such as ligatures. See: https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings'
        type: variable-text
        default: ""
    - 
        id: header-editor-font
        title: Headings font
        description: Font used for headings in editor and preview
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    - 
        id: font-monospace-theme
        title: Monospace font
        description: Used for code blocks, front matter, etc
        type: variable-text
        default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace
    - 
        id: editor-line-height
        title: Editor line height
        description: Line height of the editor, expects a decimal value
        type: variable-number
        default: 1.88889
    - 
        id: line-width
        title: Line width
        description: The maximum line width in pixels
        type: variable-number
        default: 600
        format: px
    - 
        id: normal-weight
        title: Base font weight
        type: variable-number
        default: 400
    - 
        id: medium-weight
        title: Medium font weight
        type: variable-number
        default: 500
    - 
        id: bold-weight
        title: Bold font weight
        type: variable-number
        default: 600
    
    -
        id: misc-title
        title: Misc
        type: heading
        level: 3
        collapsed: true
    - 
        id: cc-show-vault-name
        title: Show vault name in file explorer
        type: class-toggle
    - 
        id: cc-transparent-popover
        title: Translucent popovers
        description: Menus and notifications will take on a translucent background. Turning this setting on might slow down obsidian on some computers.
        type: class-toggle
    - 
        id: scale-small
        title: Page preview scale
        description: Percentage amount to scale hover preview and sidebar document font
        type: variable-number
        default: 90
    -
        id: explorer-wrapping
        title: File explorer wrapping
        description: 'By default, files with long names will wrap in the file explorer. This setting ensures each file name only takes up a single line'
        type: class-select
        default: none
        options:
            - 
                value: none
                label: Default
            - 
                value: cc-truncated-explorer-titles
                label: Truncate file titles
            -
                value: cc-wrapped-explorer-titles
                label: Wrap file titles
    - 
        id: cc-trim-table-cols
        title: Truncate table columns
        description: Prevent table columns from wrapping to a new line in narrow panes
        type: class-toggle
    - 
        id: table-min-cell-width
        title: Minimum table column width
        description: Table columns will not strink below this width
        type: variable-number
        default: 0
        format: px

    - 
        id: editor-customization
        title: Editor Customization
        type: heading
        level: 3
        collapsed: true
    - 
        id: cc-fancy-cursor
        title: Accented cursor
        description: The editor cursor takes on your accent color
        type: class-toggle
    - 
        id: cc-editor-heading-hash
        title: Flush headings (source mode)
        description: Shifts heading hashes so headings are aligned with the edge of the editor. This feature is currently incompatible with mobile.
        type: class-toggle
    - 
        id: cc-lp-editor-heading-hash
        title: Flush headings (live preview mode)
        description: Shifts heading hashes so headings are aligned with the edge of the editor. This feature is currently incompatible with mobile.
        type: class-toggle
    - 
        id: cc-em-strong
        title: Bold and italics
        description: Styles bold and italic formatting to be less prominent
        type: class-toggle
    - 
        id: cc-hr
        title: Horizontal rule (source mode)
        description: Styles horizontal rules to span the width of the editor
        type: class-toggle
    -
        id: cc-editor-list-bullets
        title: Editor list bullets (source mode)
        description: 'Replace *, -, + with a bullet character when creating lists'
        type: class-toggle

    - 
        id: preview-customization
        title: Preview Customization
        type: heading
        level: 3
        collapsed: true
    - 
        id: cc-header-spacing
        title: Dynamic Header Spacing
        description: Applies the top and bottom header margins defined below, and adjusts spacing dynamically when the "Contextual Typography" plugin is active
        type: class-toggle
    -
        id: cc-soft-wrap-code-blocks
        title: Soft wrap code-blocks
        type: class-toggle
    - 
        id: cc-seamless-embed
        title: Seamless embed
        description: Display embedded content seamlessly as a part of the containing document
        type: class-toggle
    - 
        id: preview-bullet-size-adjust
        title: Preview bullet size adjust
        description: Increase or decrease preview mode bullet sizes. The default is 100%, or no change.
        type: variable-number
        default: 100
        format: '%'
    
    
    - 
        id: level-1-headings
        title: Level 1 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h1-size
        title: H1 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.602em
    - 
        id: h1-line-height
        title: H1 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h1-margin-top
        title: H1 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 3
    - 
        id: h1-margin-bottom
        title: H1 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 1
    - 
        id: h1-weight
        title: H1 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h1-style
        title: H1 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-2-headings
        title: Level 2 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h2-size
        title: H2 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.424em
    - 
        id: h2-line-height
        title: H2 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h2-margin-top
        title: H2 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 2.25
    - 
        id: h2-margin-bottom
        title: H2 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h2-weight
        title: H2 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h2-style
        title: H2 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal

    - 
        id: level-3-headings
        title: Level 3 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h3-size
        title: H3 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.266em
    - 
        id: h3-line-height
        title: H3 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h3-margin-top
        title: H3 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.75
    - 
        id: h3-margin-bottom
        title: H3 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h3-weight
        title: H3 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h3-style
        title: H3 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-4-headings
        title: Level 4 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h4-size
        title: H4 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.125em
    - 
        id: h4-line-height
        title: H4 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h4-margin-top
        title: H4 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h4-margin-bottom
        title: H4 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h4-weight
        title: H4 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h4-style
        title: H4 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-5-headings
        title: Level 5 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h5-size
        title: H5 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h5-line-height
        title: H5 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h5-margin-top
        title: H5 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h5-margin-bottom
        title: H5 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h5-weight
        title: H5 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h5-style
        title: H5 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-6-headings
        title: Level 6 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h6-size
        title: H6 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h6-line-height
        title: H6 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h6-margin-top
        title: H6 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h6-margin-bottom
        title: H6 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h6-weight
        title: H6 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h6-style
        title: H6 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: italic

    - 
        id: icons
        title: Icons
        type: heading
        level: 3
        collapsed: true
    - 
        id: cc-no-custom-icons
        title: Use Obsidian's default icons
        type: class-toggle
        default: false
    - 
        id: cc-no-file-icons
        title: Hide file icons
        type: class-toggle
        default: false
    - 
        id: cc-no-folder-icons
        title: Hide folder icons
        type: class-toggle
        default: false
    - 
        id: folder-h
        title: Folder icon color
        type: variable-number-slider
        default: 0
        format: deg
        min: 0
        max: 359
        step: 1
    - 
        id: folder-s
        title: Folder icon saturation
        type: variable-number-slider
        default: 100
        format: '%'
        min: 0
        max: 200
        step: 1
    - 
        id: folder-b
        title: Folder icon brightness
        type: variable-number-slider
        default: 100
        format: '%'
        min: 50
        max: 150
        step: 1
    
*/
