/* @settings

name: California Coast Theme
id: obsidian-california-coast-theme
settings:
    - 
        id: accent-color-title
        title: Accent Color
        type: heading
        level: 3
    - 
        id: accent
        title: Accent Color
        type: variable-color
        format: hsl-split
        default: '#007AFF'
    - 
        id: cc-fancy-cursor
        title: Accented cursor
        description: The editor cursor takes on your accent color
        type: class-toggle

    - 
        id: custom-fonts
        title: Custom Fonts
        type: heading
        level: 3
    - 
        id: text
        title: UI font
        description: Font used for the user interface
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    - 
        id: text-editor
        title: Body font
        description: Font used for the editor and preview
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    -
        id: editor-font-features
        title: Body font features
        description: eg. "ss01", "cv05", "cv07", "case"
        type: variable-text
        default: ""
    - 
        id: font-monospace
        title: Monospace font
        description: Used for code blocks, front matter, etc
        type: variable-text
        default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", monospace
    - 
        id: editor-line-height
        title: Body line height
        description: Line height of the main text, expects a decimal value
        type: variable-number
        default: 1.88889
    - 
        id: line-width
        title: Line width
        description: The maximum line width in rem units (1rem = Body font size)
        type: variable-number
        default: 42
        format: rem
    
    -
        id: misc-title
        title: Misc
        type: heading
        level: 3
    - 
        id: scale-small
        title: Page preview scale
        description: Percentage amount to scale hover preview and sidebar document font
        type: variable-number
        default: 90
    -
        id: cc-truncated-explorer-titles
        title: Truncate file titles
        description: 'By default, files with long names will wrap in the file explorer. This setting ensures each file name only takes up a single line'
        type: class-toggle
    -
        id: cc-no-sidebar-animation
        title: Disable sidebar animations
        description: Closing and opening sidebars will occur immediately rather than animating to the open or closed positions
        type: class-toggle
    -
        id: cc-no-tree-animation
        title: Disable tree animations
        description: Closing and opening folders, nested tags, etc. will occur immediately rather than animating to the open or closed positions
        type: class-toggle

    - 
        id: editor-customization
        title: Editor Customization
        type: heading
        level: 3
    - 
        id: cc-soft-blink-cursor
        title: Soft-blink cursor
        description: The editor cursor will fade in and out rather than blinking
        type: class-toggle
    - 
        id: cc-editor-heading-hash
        title: Flush headings
        description: Shifts heading hashes so headings are aligned with the edge of the editor
        type: class-toggle
    - 
        id: cc-block-quotes
        title: Blockquotes
        description: De-emphasizes the blockquote formatting character
        type: class-toggle
    - 
        id: cc-em-strong
        title: Bold and italics
        description: Styles bold and italic formatting to be less prominent
        type: class-toggle
    - 
        id: cc-hr
        title: Horizontal rule
        description: Styles horizontal rules to span the width of the editor
        type: class-toggle
    -
        id: cc-editor-list-bullets
        title: Editor list bullets
        description: 'Replace *, -, + with a bullet character when creating lists'
        type: class-toggle
    -
        id: cc-list-relationship-lines
        title: Editor list indentation lines
        description: Display vertical lines to distinguish list indentation level
        type: class-toggle
    -
        id: cc-soft-wrap-code-blocks
        title: Soft wrap code-blocks
        type: class-toggle

    - 
        id: preview-customization
        title: Preview Customization
        type: heading
        level: 3
    - 
        id: cc-pretty-preview
        title: Enhanced Preview Typography
        description: Adds context aware padding between text elements in preview mode (requires the "contextual typography" plugin)
        type: class-toggle
    -
        id: cc-hide-table-vertical-dividers
        title: Hide vertical table dividers
        type: class-toggle
    - 
        id: cc-seamless-embed
        title: Seamless embed
        description: Display embedded content seamlessly as a part of the containing document
        type: class-toggle
    
    - 
        id: level-1-headings
        title: Level 1 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h1-size
        title: H1 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.602em
    - 
        id: h1-line-height
        title: H1 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h1-margin-top
        title: H1 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 3
    - 
        id: h1-margin-bottom
        title: H1 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 1
    - 
        id: h1-weight
        title: H1 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h1-style
        title: H1 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-2-headings
        title: Level 2 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h2-size
        title: H2 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.424em
    - 
        id: h2-line-height
        title: H2 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h2-margin-top
        title: H2 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 2.25
    - 
        id: h2-margin-bottom
        title: H2 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h2-weight
        title: H2 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h2-style
        title: H2 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal

    - 
        id: level-3-headings
        title: Level 3 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h3-size
        title: H3 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.266em
    - 
        id: h3-line-height
        title: H3 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.4
    - 
        id: h3-margin-top
        title: H3 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.75
    - 
        id: h3-margin-bottom
        title: H3 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h3-weight
        title: H3 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h3-style
        title: H3 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-4-headings
        title: Level 4 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h4-size
        title: H4 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.125em
    - 
        id: h4-line-height
        title: H4 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h4-margin-top
        title: H4 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h4-margin-bottom
        title: H4 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h4-weight
        title: H4 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h4-style
        title: H4 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-5-headings
        title: Level 5 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h5-size
        title: H5 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h5-line-height
        title: H5 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h5-margin-top
        title: H5 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h5-margin-bottom
        title: H5 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h5-weight
        title: H5 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h5-style
        title: H5 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: normal
    
    - 
        id: level-6-headings
        title: Level 6 Headings
        type: heading
        level: 4
        collapsed: true
    - 
        id: h6-size
        title: H6 font size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1em
    - 
        id: h6-line-height
        title: H6 line height
        description: Accepts decimal values
        type: variable-number
        default: 1.5
    - 
        id: h6-margin-top
        title: H6 top margin
        description: Accepts decimal values representing the number of lines to add before the heading
        type: variable-number
        default: 1.5
    - 
        id: h6-margin-bottom
        title: H6 bottom margin
        description: Accepts decimal values representing the number of lines to add below the heading
        type: variable-number
        default: 0.5
    - 
        id: h6-weight
        title: H6 font weight
        description: Accepts numbers represeting the CSS font-weight
        type: variable-number
        default: 500
    - 
        id: h6-style
        title: H6 font style
        description: Accepts any CSS font-style value
        type: variable-text
        default: italic

    - 
        id: icons
        title: Icons
        type: heading
        level: 3
    - 
        id: cc-custom-icons
        title: Use Custom Icons
        description: Replace obsidian's default icons
        type: class-toggle
        default: true
    - 
        id: cc-file-icons
        title: Use File Icons
        type: class-toggle
        default: true
    - 
        id: cc-folder-icons
        title: Use Folder Icons
        type: class-toggle
        default: true
    - 
        id: folder-h
        title: Folder icon color
        type: variable-number-slider
        default: 0
        format: deg
        min: 0
        max: 359
        step: 1
    - 
        id: folder-s
        title: Folder icon saturation
        type: variable-number-slider
        default: 100
        format: '%'
        min: 0
        max: 200
        step: 1
    - 
        id: folder-b
        title: Folder icon brightness
        type: variable-number-slider
        default: 100
        format: '%'
        min: 50
        max: 150
        step: 1
*/
