body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header {
  padding: 0 !important;
  display: flex;
  align-items: center;
}
body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container:before {
  display: none;
}
body.plugin-sliding-panes-rotate-header .workspace > .mod-root .view-header {
  text-orientation: sideways;
}
body.plugin-sliding-panes-stacking .workspace > .mod-root > .workspace-leaf,
body.plugin-sliding-panes .workspace-split.mod-vertical > .workspace-leaf {
  box-shadow: var(--shade-plus-darker) -1px -0px !important;
}

body.plugin-sliding-panes-stacking.theme-dark
  .workspace
  > .mod-root
  > .workspace-leaf,
body.plugin-sliding-panes.theme-dark
  .workspace-split.mod-vertical
  > .workspace-leaf {
  box-shadow: var(--dark-separator) -1px -0px !important;
}

body.plugin-sliding-panes .mod-horizontal .workspace-leaf {
  box-shadow: none !important;
}

body.plugin-sliding-panes:not(.is-fullscreen)
  .workspace-split.is-collapsed
  ~ .workspace-split.mod-root
  .view-header {
  padding-top: 0;
  transition: none;
}
body.plugin-sliding-panes .view-header-title:before {
  background: none;
}
body.plugin-sliding-panes .view-header {
  background: none;
}
body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  .view-header-title-container
  body.plugin-sliding-panes-rotate-header.plugin-sliding-panes-header-alt
  .workspace
  > .mod-root
  .view-header-title {
  margin-top: 0;
}
body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  > .view-header-title-container
  > .view-header-title {
  line-height: 1;
  padding: 10px 6px !important;
  margin: 0;
  transform: translateX(1.5px);
}
body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  .view-header-title-container {
  margin-left: 0;
  padding-top: 0;
}
body.plugin-sliding-panes-rotate-header.plugin-sliding-panes-header-alt
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-header-title-container {
  display: flex;
  align-items: center;
  margin: 0 0;
  width: 100%;
  max-width: unset;
}
body.plugin-sliding-panes-rotate-header .view-header-title-container {
  position: static;
}
body.plugin-sliding-panes-rotate-header
  .app-container
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-actions {
  padding-left: 0;
  padding-bottom: 0px;
  bottom: 0;

  width: 100%;
  margin: 0 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.plugin-sliding-panes-rotate-header.hider-ribbon
  .workspace-split.mod-left-split.is-collapsed
  + .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-actions {
  margin-bottom: 47px !important;
}
body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-action {
  margin: 5px 0 0 0 !important;
}
body.plugin-sliding-panes-rotate-header .view-header-icon {
  opacity: 0.5;
}
body.plugin-sliding-panes.is-fullscreen .view-header-icon {
  padding-top: 8px;
}
html
  > body.plugin-sliding-panes-rotate-header
  .workspace
  > .mod-root
  > .workspace-leaf
  > .workspace-leaf-content
  > .view-header
  .view-header-icon {
  margin: 28px 0 17px;
}
body.plugin-sliding-panes .mod-root .graph-controls {
  top: 20px;
  left: 30px;
}

.plugin-sliding-panes
  .workspace-split.mod-root.mod-vertical
  .workspace-leaf-resize-handle {
  display: none;
}

.plugin-sliding-panes-rotate-header .markdown-preview-sizer {
  padding-top: 5rem;
}

.plugin-sliding-panes-rotate-header
  .markdown-embed-content
  .markdown-preview-sizer {
  padding-top: 0;
}

.plugin-sliding-panes-rotate-header .markdown-preview-section > div {
  padding-left: var(--header-width);
  padding-right: calc(var(--header-width) * 2);
}

html .plugin-sliding-panes-rotate-header .CodeMirror-lines {
  padding-top: 5rem;
}

.plugin-sliding-panes-rotate-header .view-header-icon:after {
  line-height: 0;
}

html .plugin-sliding-panes-rotate-header.embedded-note-title .CodeMirror-lines {
  padding-top: 0;
}
