.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
  line-height: var(--line-height);
  font-family: var(--text-editor) !important;
}
.cm-s-obsidian .cm-header {
  font-weight: var(--bold-weight);
}

.markdown-preview-section strong,
.cm-s-obsidian .cm-strong {
  font-weight: var(--strong-weight);
  color: var(--strong-color);
}

.markdown-preview-section em,
.cm-s-obsidian .cm-em {
  color: var(--em-color);
}

/* --------------- */
/* Editor mode */

.CodeMirror-sizer {
  margin-left: 0 !important;
  border-right-width: 0px !important;
}

.CodeMirror-scroll {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-right: 0;
  margin-bottom: 0;
}

.workspace-tabs .CodeMirror-scroll {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.markdown-source-view.mod-cm5 {
  padding-left: 0;
  padding-right: 0;
}

.CodeMirror-scroll::-webkit-scrollbar-track,
.CodeMirror-scroll::-webkit-scrollbar-thumb,
.CodeMirror-scroll::-webkit-scrollbar {
  opacity: 0;
  border: none;
  background-color: transparent;
}

.markdown-source-view {
  padding: 0;
}
.cm-s-obsidian .CodeMirror-code {
  padding-right: 0;
}
html .CodeMirror-lines {
  padding-top: 2.5rem;
  padding-bottom: 170px;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding-left: 0;
  padding-right: 0;
}
.workspace .markdown-preview-view {
  padding: 0;
}
.workspace .markdown-preview-view .markdown-embed {
  margin: 0;
}
.workspace .markdown-preview-view .markdown-embed-content {
  max-height: none;
}
.markdown-embed-title,
.internal-embed .markdown-preview-section {
  max-width: 100%;
}


/* Transcluded notes embeds */

.markdown-preview-view.is-readable-line-width
  .markdown-embed
  .markdown-preview-sizer {
  max-width: 100%;
  width: 100%;
}

.markdown-embed h1:first-child {
  margin-block-start: 0em;
}

.markdown-preview-view .markdown-embed {
  margin-top: var(--nested-padding);
  padding: 0 calc(var(--nested-padding) / 2) 0 var(--nested-padding);
}
.markdown-embed-title {
  line-height: inherit;
  height: unset;
  color: var(--shade-40);
}
.markdown-embed .markdown-preview-sizer:first-child ul {
  margin-block-start: 2px;
}
.markdown-embed .markdown-preview-section:last-child blockquote,
.markdown-embed .markdown-preview-section:last-child p,
.markdown-embed .markdown-preview-section:last-child ul {
  margin-block-end: 0;
}
.internal-embed:not([src*="#^"]) .markdown-embed-link {
  left: 0;
  width: 100%;
}
.markdown-embed-link,
.file-embed-link {
  top: 0px;
  right: 0;
  text-align: right;
}
.file-embed-link svg,
.markdown-embed-link svg {
  position: relative;
  top: 2px;
  width: 16px;
  opacity: 0;
}
.markdown-embed:hover .file-embed-link svg,
.markdown-embed:hover .markdown-embed-link svg {
  opacity: 1;
}
.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height: none !important;
}
.markdown-embed .markdown-preview-view {
  padding: 0;
}
.internal-embed .markdown-embed {
  border: 0;
  border-left: 2px solid var(--shade-plus-darker);
  border-radius: 0;
}

/* --------------- */
/* Checkboxes */

input[type="checkbox"] {
  width: 0.866em;
  height: 0.866em;
  cursor: var(--cursor);
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  background: var(--shade-0);
  border: 1px solid var(--shade-40);
  box-sizing: border-box;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.theme-dark input[type="checkbox"] {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.14) 0%,
    rgba(255, 255, 255, 0.28) 100%
  );
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
    inset 0px 0.5px 0px rgba(255, 255, 255, 0.15);
  border-color: var(--shade-5);
}

input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
  outline: 0;
}
.is-flashing input[type="checkbox"]:checked,
input[type="checkbox"]:checked {
  background: hsl(var(--accent-hsl));
  box-shadow: none;
  border-color: transparent;
}

.is-flashing input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" viewBox="0 0 8 8"><path fill="white" d="M3.215 7.785c.336 0 .594-.12.77-.383L7.59 2a.955.955 0 00.176-.535c0-.469-.368-.82-.848-.82-.328 0-.535.117-.734.43l-2.98 4.663-1.485-1.742A.795.795 0 001.07 3.7c-.484 0-.84.352-.84.824 0 .215.06.387.243.598L2.48 7.453c.2.23.434.332.735.332z"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 66%;
  line-height: 1;
  width: 100%;
  height: 100%;
  content: " ";
  display: block;
}

.markdown-preview-section > .contains-task-list {
  padding-bottom: 0.5em;
}
.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: none;
  color: var(--text-normal);
}
.markdown-preview-view .task-list-item-checkbox {
  width: 0.866em;
  height: 0.866em;
  position: relative;
  line-height: 0;
  margin-left: -1.1em;
  margin-right: 6px;
  filter: none;

  margin-bottom: 0;
  top: 2px;
}
.markdown-preview-view ol .task-list-item-checkbox {
  margin-left: 0;
}
.markdown-preview-view ul > li.task-list-item {
  text-indent: 0;
}
.markdown-preview-view .task-list-item {
  padding-inline-start: 0;
}
.side-dock-plugin-panel-inner {
  padding-right: 6px;
  padding-left: 6px;
}

/* --------------- */
/* Folding */

.markdown-preview-view .collapse-indicator {
  position: relative;
  cursor: pointer;
  margin: 0;
  float: none;
  display: inline;
  line-height: inherit;
  font-size: unset;
  width: 0;
  height: 0.75em;
  padding: 0;
}

.markdown-preview-view .collapse-indicator > svg.right-triangle {
  color: var(--shade-40);
  width: 14px;
  height: 14px;
  position: absolute;
  left: -2.33rem;
  top: 50%;
  transform: translateY(-50%);
}

.is-mobile .markdown-preview-view .collapse-indicator > svg.right-triangle {
  width: 16px;
  height: 16px;
}


.markdown-preview-view
  .heading-collapse-indicator.collapse-indicator
  > svg.right-triangle {
  left: -1.2rem;
}

.is-mobile .markdown-preview-view .heading-collapse-indicator {
  margin-left: 0;
}

.markdown-preview-view .is-collapsed .collapse-indicator > svg.right-triangle {
  transform: translateY(-50%) rotate(-90deg);
}

.markdown-preview-view li.is-collapsed,
.markdown-preview-view .markdown-preview-section > div.is-collapsed > * {
  background-image: linear-gradient(
    to right,
    var(--shade-10) 50%,
    transparent 50%
  );
  background-position: 0 bottom;
  background-repeat: repeat-x;
  background-size: 6px 3px;
}
.markdown-preview-view .heading-collapse-indicator {
  margin-left: 0;
  padding: 0;
}
.markdown-preview-view .heading-collapse-indicator:before {
  font-size: 1rem;
  left: -1.3rem;
}
.markdown-preview-view h4 .heading-collapse-indicator,
.markdown-preview-view h5 .heading-collapse-indicator,
.markdown-preview-view h6 .heading-collapse-indicator {
  margin-top: -7px;
}

span[title="Fold line"],
span[title="Unfold line"] {
  line-height: 1;
  position: relative;
  /* top: 4px; */
  font-size: 0;
  color: transparent;  
  display: flex;
  height: 100%;
  align-items: center;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  background-color: rgba(var(--background-rgb), 0.6);
  color: var(--text-faint);
  cursor: var(--cursor);
  line-height: 1;
  display: flex;
  height: var(--editor-line-height-rem);
  align-items: center;
  transition: color 140ms ease;
}

span[title="Fold line"]:hover,
span[title="Unfold line"]:hover,
.CodeMirror-foldgutter-open:hover,
.CodeMirror-foldgutter-folded:hover {
  color: var(--text-muted);
}
span[title="Fold line"]:after,
span[title="Unfold line"]:after,
.CodeMirror-foldgutter-open:after,
.CodeMirror-foldgutter-folded:after {
  text-align: center;
  color: var(--text-faint);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 1;
  font-weight: 600;
}

span[title="Fold line"]:after,
span[title="Unfold line"]:after {
  font-size: 1rem;
  line-height: 1;
}

span[title="Unfold line"]:after,
.CodeMirror-foldgutter-folded:after {
  content: "›";
  transform: translateY(-2px);
}

span[title="Fold line"]:after,
.CodeMirror-foldgutter-open:after {
  content: "›";
  transform: rotate(90deg);
}

.CodeMirror-linenumbers,
.CodeMirror-foldgutter {
  width: 18px;
}

.CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter.CodeMirror-foldgutter {
  background: transparent;
}

.CodeMirror-linenumbers {
  margin-left: -20px;
}

.CodeMirror-gutter-wrapper {
  padding: 0;
  height: 100%;
  width: 18px;
  left: -1.5em !important;
  display: flex;
}

.CodeMirror-gutter-elt {
  width: unset !important;
  position: static;
}

.cm-s-obsidian .CodeMirror-linenumber {
  font-family: var(--text);
  width: 18px !important;
  min-width: 0;
  position: absolute;
  left: -20px !important;
  padding: 3px 0 0;
  display: flex;
  justify-content: flex-end;
  font-feature-settings: normal;
}

.workspace-split > .workspace-leaf .cm-s-obsidian .CodeMirror-gutters {
  width: 18px;
  left: 0 !important;
  padding-right: 0;
  transform: translateX(2rem);
}

.is-mobile .cm-s-obsidian .cm-gutters {
  background-color: transparent !important;
}

.CodeMirror-foldmarker {
  font-size: 0 !important;
  color: transparent;
  margin-left: 6px;
  position: relative;
  top: 1px;
}

/* --------------- */
/* Preview mode  */

.markdown-preview-view hr {
  height: 1px;
  border-width: 2px 0 0 0;
}

.markdown-preview-section a,
.markdown-preview-view .internal-link {
  margin-bottom: 0;
  position: relative;
  text-decoration: none;
  box-shadow: 0 3px transparent;
  transition: box-shadow 100ms ease-out;
}
.markdown-preview-section a:hover {
  color: var(--text-accent);
  box-shadow: inset 0 -2px hsla(var(--accent-hsl), 0.15);
  text-shadow: -1px -1px 0 rgb(var(--background-rgb)),
    1px -1px 0 rgb(var(--background-rgb)), -1px 1px 0 rgb(var(--background-rgb)),
    1px 1px 0 rgb(var(--background-rgb));
}
.external-link {
  background: none;
  padding-right: 0;
}

.external-link::after {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  content: " ";
  margin-left: 2px;
  background-color: var(--shade-20);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.707 13.707l8.293-8.293v3.586c0 0.552 0.448 1 1 1s1-0.448 1-1v-6c0-0.404-0.244-0.769-0.617-0.924-0.124-0.051-0.254-0.076-0.383-0.076v-0.001h-6c-0.552 0-1 0.448-1 1s0.448 1 1 1h3.586l-8.293 8.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.39 0.391 1.024 0.391 1.414 0z"></path></svg>');
}

.kanban-plugin__item-markdown .external-link::after {
  position: relative;
  top: 0.4em;
}

.external-link[href*="obsidian://search"]::after
{
  width: 0.9em;
  height: 0.9em;
  content: " ";
  margin-left: 2px;
  top: 0.1em;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="red" d="M79.263 70.738c-2.138 -2.033 -4.183 -4.154 -5.696 -5.767c-1.55 -1.575 -2.483 -2.721 -2.483 -2.721l-11.667 -5.571C63.917 51.542 66.667 44.846 66.667 37.5c0 -16.079 -13.083 -29.167 -29.167 -29.167S8.333 21.421 8.333 37.5s13.083 29.167 29.167 29.167c7.346 0 14.042 -2.75 19.179 -7.246l5.571 11.667c0 0 1.146 0.933 2.721 2.483c1.613 1.512 3.733 3.558 5.767 5.696c2.058 2.108 4.117 4.217 5.658 5.8c1.508 1.617 2.517 2.692 2.517 2.692l8.838 -8.838c0 0 -1.075 -1.008 -2.692 -2.517C83.479 74.854 81.371 72.796 79.263 70.738zM37.5 58.333c-11.488 0 -20.833 -9.346 -20.833 -20.833s9.346 -20.833 20.833 -20.833s20.833 9.346 20.833 20.833S48.988 58.333 37.5 58.333z"></path></svg>');
}

.footnotes-list {
  margin-block-start: -10px;
  padding-inline-start: 20px;
  font-size: var(--font-small);
}
.footnotes-list p {
  display: inline;
  margin-block-end: 0;
  margin-block-start: 0;
}
.footnote-ref a {
  text-decoration: none;
}
.footnote-backref {
  color: var(--text-faint);
}
iframe {
  border: 0;
}

.markdown-preview-view img {
  margin: 0 auto;
  max-width: 100%;
}

.markdown-preview-view audio,
.markdown-preview-view video {
  margin: 0 auto;
  width: 100%;
}
.markdown-preview-view .mod-highlighted {
  transition: background-color 0.3s ease;
  background-color: var(--text-selection);
  color: inherit;
}

/* Metadata */

.frontmatter-collapse-indicator.collapse-indicator {
  display: none;
}
.frontmatter-container .tag {
  font-size: var(--font-smaller);
}
.frontmatter-container .frontmatter-alias {
  color: var(--text-muted);
}
.frontmatter-container {
  color: var(--text-muted);
  font-size: var(--font-small);
  padding: 10px 0;
  background: transparent;
  border-radius: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--background-modifier-border);
}
.frontmatter-container .frontmatter-container-header {
  padding: 0;
  font-weight: 500;
  border-bottom: 0;
  font-size: var(--font-small);
}

/* Blockquotes */

.markdown-preview-view blockquote {
  border-radius: 0;
  border: solid var(--quote-opening-modifier);
  border-width: 0px 0px 0px 1px;
  background-color: transparent;
  color: var(--text-muted);
  padding: 0 0 0 calc(var(--nested-padding) / 2);
  margin-inline-start: var(--nested-padding);
}

/* Tables */

.markdown-preview-view th {
  font-weight: var(--bold-weight);
  text-align: left;
  border-top: none;
}
.markdown-preview-view th:last-child,
.markdown-preview-view td:last-child {
  border-right: none;
}
.markdown-preview-view th:first-child,
.markdown-preview-view td:first-child {
  border-left: none;
  padding-left: 0;
}
.markdown-preview-view tr:last-child td {
  border-bottom: none;
}

/* Preview Mode Lists  */

.markdown-preview-view ul li p,
.markdown-preview-view ol li p {
  display: inline;
}

/* Code */
.theme-light :not(pre) > code[class*="language-"],
.theme-light pre[class*="language-"] {
  background-color: var(--background-primary-alt);
}
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  text-shadow: none;
}
.markdown-preview-section .frontmatter code {
  color: var(--text-muted);
  font-size: var(--font-small);
}
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd .CodeMirror-code {
  font-family: var(--font-monospace);
}
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--text-normal);
}
.cm-s-obsidian .cm-hmd-frontmatter {
  font-size: var(--font-small);
  color: var(--text-muted);
}
.cm-s-obsidian div.HyperMD-codeblock-bg,
.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  background-color: var(--shade-5);
  border: none;
}
