.markdown-preview-view h1 {
  font-size: 2.4rem !important;
  line-height: 3.1rem;
  /* margin-top: 7.5555555556rem; */
  /* margin-bottom: var(--editor-line-height-rem); */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
}

.markdown-preview-view h2 {
  font-size: 1.6875rem !important;
  line-height: 2.7rem;
  /* margin-top: 4.7222222222rem; */
  /* margin-bottom: 0.9444444444rem; */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
}

.markdown-preview-view h3 {
  font-size: 1.375rem !important;
  line-height: var(--editor-line-height-rem);
  /* margin-top: 3.7777777778rem; */
  /* margin-bottom: 0.9444444444rem; */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
}

.markdown-preview-view h4 {
  font-size: 1.2rem !important;
  line-height: var(--editor-line-height-rem);
  /* margin-top: 2.8333333333rem; */
  /* margin-bottom: 0.9444444444rem; */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
}

.markdown-preview-view h5 {
  font-size: 1rem !important;
  line-height: var(--editor-line-height-rem);
  /* margin-top: 4.7222222222rem; */
  /* margin-bottom: 0.9444444444rem; */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
}

.markdown-preview-view h6 {
  font-size: 1rem !important;
  line-height: var(--editor-line-height-rem);
  /* margin-top: 4.7222222222rem; */
  /* margin-bottom: 0.9444444444rem; */
  margin-top: var(--editor-line-height-rem);
  margin-bottom: 0;
  font-weight: 500;
  font-style: italic;
  color: var(--text-normal);
}

.empty-state-title,
.HyperMD-header-1,
.cm-header-1 {
  font-size: 40px !important;
  font-weight: 500 !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-1:not(:only-child) {
  line-height: calc(40px * 1.88);
}

.cc-pretty-editor .cm-s-obsidian pre.HyperMD-header-1 {
  line-height: 1.4 !important;
}

.HyperMD-header-2,
.cm-header-2 {
  font-size: 30px !important;
  font-weight: 500 !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-2:not(:only-child) {
  line-height: calc(30px * 1.87);
}

.HyperMD-header-3,
.cm-header-3 {
  font-weight: 500 !important;
  font-size: 23px !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-3:not(:only-child) {
  line-height: calc(23px * 1.8);
}

.HyperMD-header-4,
.cm-header-4 {
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  font-weight: 500 !important;
  font-size: 22px !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-4:not(:only-child) {
  line-height: calc(22px * 1.8);
}

.HyperMD-header-5,
.cm-header-5 {
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-5:not(:only-child) {
  line-height: calc(18px * 1.8);
}

.HyperMD-header-6,
.cm-header-6 {
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  color: unset;
  font-style: italic;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.cc-pretty-editor pre.HyperMD-header .cm-formatting-header-6:not(:only-child) {
  line-height: calc(18px * 1.8);
}
