.markdown-source-view.mod-cm6 .cm-scroller,
.cm-s-obsidian {
  font-family: var(--text-editor);
  font-size: var(--editor-font-size);
  font-weight: var(--editor-font-weight);
  line-height: var(--editor-line-height);
  font-feature-settings: var(--editor-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-s-obsidian .HyperMD-codeblock {
  line-height: var(--editor-line-height);
}

.cm-s-obsidian span.cm-comment {
  color: var(--shade-70);
  font-style: italic;
}

.cm-s-obsidian span.cm-quote {
  color: var(--text-normal);
  font-style: italic;
}

.cm-s-obsidian span.cm-url.cm-string:not(.cm-hmd-footnote-url) {
  color: var(--shade-20);
}

.cm-s-obsidian span.cm-link {
  color: var(--text-accent);
}

.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-image.cm-link,
.cm-s-obsidian span.cm-formatting-link-string.cm-url.cm-string {
  color: var(--shade-10);
  display: inline-block;
  padding: 0 1px;
  font-weight: 600;
}

.cm-s-obsidian pre.HyperMD-footnote span.cm-link.cm-hmd-footnote {
  color: var(--text-accent);
}

.cm-s-obsidian pre.HyperMD-footnote span.cm-link.cm-hmd-footnote.cm-formatting {
  color: var(--shade-10);
}

.cm-s-obsidian span.cm-footref,
.cm-s-obsidian span.cm-blockid {
  vertical-align: unset;
  margin-top: 0;
  font-size: unset;
}

.cm-s-obsidian span.cm-blockid {
  font-family: var(--font-monospace);
  font-size: 0.6em;
}

.cm-formatting-list-ul:before {
  color: var(--text-normal);
}

.cm-formatting-list-ol {
  color: var(--text-normal) !important;
  white-space: pre;
  display: inline-flex;
  justify-content: flex-end;
  width: 1rem;
}

.cm-s-obsidian span.cm-hashtag,
.frontmatter-container .tag,
.tag {
  background-color: transparent;
  text-decoration: none;

  display: inline;
  color: var(--text-accent);
  margin: 0;
  text-align: unset;
  vertical-align: unset;
  border: none;
  font-size: unset;
  padding: 0 !important;
  border-radius: 0;
}

.cm-s-obsidian pre.HyperMD-header {
  padding-left: 0 !important;
}
.CodeMirror-linenumber {
  font-size: var(--font-small) !important;
  font-feature-settings: "tnum";
  color: var(--text-faint);
  padding-top: 3px;
}
.cm-s-obsidian span.cm-url {
  color: var(--text-accent);
}

.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--text-accent);
}
.cm-s-obsidian span.cm-link.cm-strikethrough,
.cm-s-obsidian span.cm-hmd-internal-link.cm-strikethrough {
  text-decoration: line-through;
  text-decoration-color: var(--text-muted);
  text-decoration-thickness: 3px;
}
.cm-strikethrough {
  text-decoration-color: var(--text-muted);
  text-decoration-thickness: 3px;
}

/* Editor Mode Footnotes */

.cm-s-obsidian span.cm-footref {
  font-size: var(--font-normal);
}
.cm-s-obsidian pre.HyperMD-footnote {
  font-size: var(--font-small);
  padding-left: 20px;
}

/* Editor Mode Tables */
.CodeMirror pre.HyperMD-table-row {
  font-family: var(--font-monospace);
  font-size: calc(var(--font-normal) - 1px);
}

/* Editor Mode Lists */
.cm-formatting-list {
  color: var(--text-normal) !important;
}
.cm-s-obsidian span.cm-formatting-task {
  display: inline-block;
  font-weight: 500;
  color: var(--text-normal);
  min-width: 1.3em;
  font-family: inherit;
}

/* Editor Mode Quotes */
.cm-formatting-quote {
  color: var(--text-faint) !important;
}

/* Fancy cursor */
.cc-fancy-cursor .CodeMirror-cursor {
  border-left: 2px solid var(--text-accent);
  transform: translateX(-0.5px);
  border-radius: 2px;
}

.cc-soft-blink-cursor .CodeMirror-focused .CodeMirror-cursors {
  visibility: visible !important;
  transition: 100ms opacity ease-in;
  opacity: 1;
}

.cc-soft-blink-cursor .CodeMirror-focused .CodeMirror-cursors[style^="visibility"] {
  opacity: 0;
}

/* Pretty editor */

.cc-editor-heading-hash .cm-formatting-header.obsidian-search-match-highlight {
  background: transparent;
}

.cc-editor-heading-hash .cm-formatting-header {
  font-family: var(--text);
  color: var(--text-faint) !important;
  font-weight: var(--normal-weight) !important;
}

.cc-editor-heading-hash
  div:not(.CodeMirror-activeline)
  > pre.HyperMD-header
  .cm-formatting-header:not(:only-child) {
  color: transparent !important;
}

.cc-editor-heading-hash
  div:not(.CodeMirror-activeline)
  > pre.HyperMD-header
  .cm-formatting-header:not(:only-child):after {
  font-family: var(--text);
  color: var(--shade-20);
  display: inline-block;
  padding-right: 5px;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header {
  position: relative;
}

.cc-editor-heading-hash
  .cm-s-obsidian
  .HyperMD-header
  .cm-formatting-header:not(:only-child) {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  font-size: 11px !important;
  display: block;
  height: 100%;
}

.is-mobile.cc-editor-heading-hash
  .cm-s-obsidian
  .HyperMD-header
  .cm-formatting-header:not(:only-child) {
  letter-spacing: -3px;
}

.cc-block-quotes .cm-formatting-quote {
  font-style: italic;
  font-weight: 800;
  color: var(--shade-10) !important;
}

.cc-block-quotes .HyperMD-quote-lazy {
  padding-left: 1rem !important;
}

.cc-editor-list-bullets .cm-s-obsidian pre.HyperMD-list-line {
  padding-top: 0;
  padding-bottom: 10px;
}

.cc-editor-list-bullets .cm-s-obsidian span.cm-formatting-list-ul {
  color: transparent !important;
  position: relative;
}

.cc-list-relationship-lines .cm-hmd-list-indent > .cm-tab {
  display: inline-block;
}

.cc-list-relationship-lines .cm-hmd-list-indent > .cm-tab:after {
  content: " ";
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  transform: translateX(-1.5px);
  background: var(--shade-5);
  height: 100%;
}

.cc-em-strong .cm-formatting-strong.cm-header,
.cc-em-strong .cm-formatting-em.cm-header,
.cc-em-strong .cm-formatting-strong,
.cc-em-strong .cm-formatting-em {
  color: var(--shade-20);
  font-size: 0.777em;
}

.cm-s-obsidian .cm-em.cm-header {
  font-style: italic;
}

.cm-s-obsidian .cm-strong.cm-header {
  font-weight: 800;
}

.cc-hr
  .cm-s-obsidian
  div:not(.CodeMirror-activeline)
  > .HyperMD-hr
  span.cm-builtin,
.cc-hr .cm-s-obsidian div:not(.CodeMirror-activeline) > .HyperMD-hr span.cm-hr {
  color: transparent;
}

.cc-hr .HyperMD-hr {
  position: relative;
}

.cc-hr .cm-s-obsidian div:not(.CodeMirror-activeline) > .HyperMD-hr-bg:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--shade-10);
  top: 50%;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color: var(--text-highlight-bg);
}

/* Icons */

.cc-editor-list-bullets .cm-formatting-list-ul:before {
  line-height: 0;
  position: absolute;
  top: 51%;
  left: 0;
  display: block;
  transform: translate(-56%, -50%);
  width: 6px;
  height: 6px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0);"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z"></path></svg>');
}

.theme-dark.cc-editor-list-bullets .cm-formatting-list-ul:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(204,204,204);"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z"></path></svg>');
}
