.cm-s-obsidian {
  font-family: var(--text-editor);
  font-size: var(--editor-font-size);
  font-weight: var(--editor-font-weight);
  line-height: var(--editor-line-height);
  font-feature-settings: var(--editor-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-s-obsidian span.cm-url.cm-string:not(.cm-hmd-footnote-url) {
  color: var(--shade-20);
}

.cm-s-obsidian span.cm-link {
  color: var(--text-accent);
}

.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-image.cm-link,
.cm-s-obsidian span.cm-formatting-link-string.cm-url.cm-string {
  color: var(--shade-10);
  display: inline-block;
  padding: 0 1px;
  font-weight: 600;
}

.cm-s-obsidian pre.HyperMD-footnote span.cm-link.cm-hmd-footnote {
  color: var(--text-accent);
}

.cm-s-obsidian pre.HyperMD-footnote span.cm-link.cm-hmd-footnote.cm-formatting {
  color: var(--shade-10);
}

.cm-s-obsidian span.cm-footref,
.cm-s-obsidian span.cm-blockid {
  vertical-align: unset;
  margin-top: 0;
  font-size: unset;
}

.cm-formatting-list-ul:before {
  color: var(--text-normal);
}

.cm-formatting-list-ol {
  color: var(--text-normal) !important;
  white-space: pre;
  display: inline-flex;
  justify-content: flex-end;
  width: 1rem;
}

.cm-s-obsidian span.cm-comment {
  color: var(--shade-70);
  font-style: italic;
}

.cm-s-obsidian span.cm-quote {
  color: var(--text-normal);
  font-style: italic;
}

/* Pretty editor */
 
.cc-pretty-editor .cm-formatting-header.obsidian-search-match-highlight
 {
  background: transparent;
} 

.cc-pretty-editor .cm-formatting-header {
  color: var(--text-faint) !important;
  font-weight: var(--normal-weight) !important;
}

.cc-pretty-editor
  div:not(.CodeMirror-activeline)
  > pre.HyperMD-header
  .cm-formatting-header:not(:only-child) {
  color: transparent !important;
}

.cc-pretty-editor
  div:not(.CodeMirror-activeline)
  > pre.HyperMD-header
  .cm-formatting-header:not(:only-child):after {
  font-family: var(--text);
  color: var(--shade-20);
  display: inline-block;
  padding-right: 5px;
}

.cc-pretty-editor
  .cm-s-obsidian
  pre.HyperMD-header
  > span
  > span:first-child:not(:only-child) {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  font-size: 11px !important;
  display: block;
  height: 100%;
}

.cc-pretty-editor .cm-formatting-quote {
  color: transparent !important;
}

.cc-pretty-editor .cm-s-obsidian pre.HyperMD-list-line {
  padding-top: 0;
  padding-bottom: 10px;
}

.cc-pretty-editor .cm-s-obsidian span.cm-formatting-list-ul {
  color: transparent !important;
  position: relative;
}

.cc-pretty-editor .cm-hmd-list-indent > .cm-tab {
  display: inline-block;
}

.cc-pretty-editor .cm-hmd-list-indent > .cm-tab:after {
  content: " ";
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  transform: translateX(-1.5px);
  background: var(--shade-5);
  height: 100%;
}

.cc-pretty-editor .cm-formatting-strong,
.cc-pretty-editor .cm-formatting-em {
  color: var(--shade-20);
  font-size: 14px;
}

.cc-pretty-editor
  .cm-s-obsidian
  div:not(.CodeMirror-activeline)
  > .HyperMD-hr
  span.cm-builtin,
.cc-pretty-editor
  .cm-s-obsidian
  div:not(.CodeMirror-activeline)
  > .HyperMD-hr
  span.cm-hr {
  color: transparent;
}

.cc-pretty-editor
  .cm-s-obsidian
  div:not(.CodeMirror-activeline)
  > .HyperMD-hr-bg:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--shade-10);
  top: 50%;
}

/* Icons */

.cc-pretty-editor .cm-formatting-quote:before {
  display: inline-block;
  line-height: 1;
  margin-right: -0.6em;
  opacity: 0.1;
  width: 1rem;
  height: 1rem;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgb(0, 0, 0);"><path d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L9.758 4.03c0 0-.218.052-.597.144C8.97 4.222 8.737 4.278 8.472 4.345c-.271.05-.56.187-.882.312C7.272 4.799 6.904 4.895 6.562 5.123c-.344.218-.741.4-1.091.692C5.132 6.116 4.723 6.377 4.421 6.76c-.33.358-.656.734-.909 1.162C3.219 8.33 3.02 8.778 2.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C2.535 17.474 4.338 19 6.5 19c2.485 0 4.5-2.015 4.5-4.5S8.985 10 6.5 10zM17.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L20.758 4.03c0 0-.218.052-.597.144-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162C14.219 8.33 14.02 8.778 13.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C13.535 17.474 15.338 19 17.5 19c2.485 0 4.5-2.015 4.5-4.5S19.985 10 17.5 10z"></path></svg>');
}

.theme-dark.cc-pretty-editor .cm-formatting-quote:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgb(204,204,204);"><path d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L9.758 4.03c0 0-.218.052-.597.144C8.97 4.222 8.737 4.278 8.472 4.345c-.271.05-.56.187-.882.312C7.272 4.799 6.904 4.895 6.562 5.123c-.344.218-.741.4-1.091.692C5.132 6.116 4.723 6.377 4.421 6.76c-.33.358-.656.734-.909 1.162C3.219 8.33 3.02 8.778 2.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C2.535 17.474 4.338 19 6.5 19c2.485 0 4.5-2.015 4.5-4.5S8.985 10 6.5 10zM17.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L20.758 4.03c0 0-.218.052-.597.144-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162C14.219 8.33 14.02 8.778 13.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C13.535 17.474 15.338 19 17.5 19c2.485 0 4.5-2.015 4.5-4.5S19.985 10 17.5 10z"></path></svg>');
}

.cc-pretty-editor .cm-formatting-list-ul:before {
  line-height: 0;
  position: absolute;
  top: 51%;
  left: 0;
  display: block;
  transform: translate(-56%, -50%);
  width: 6px;
  height: 6px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0);"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z"></path></svg>');
}

.theme-dark.cc-pretty-editor .cm-formatting-list-ul:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(204,204,204);"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z"></path></svg>');
}
