.outliner-plugin-bls-zoom.cc-pretty-editor .cm-formatting-list-ul {
  cursor: pointer;
}

.CodeMirror > .outliner-plugin-zoom-header {
  font-family: var(--text);
  font-size: 0.8em;
  padding: 1rem 3.5rem 0;
}

.outliner-plugin-zoom-header > .outliner-plugin-zoom-title {
  text-decoration: none;
  color: hsla(var(--accent-hsl), 0.8);
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title:hover {
  color: hsla(var(--accent-hsl), 1);
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title + span {
  color: transparent;
  font-size: 0;
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title + span:before {
  font-size: 0.9rem;
  color: var(--text-muted);
  display: inline-block;
  font-family: "boxicons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  content: "\e9b2";
  padding: 0 2px;
  position: relative;
  top: 2px;
}
