.outliner-plugin-bls-zoom.cc-editor-list-bullets .cm-formatting-list-ul {
  cursor: pointer;
}

.CodeMirror > .outliner-plugin-zoom-header {
  font-family: var(--text);
  font-size: 0.8em;
  padding: 1rem 3.5rem 0;
}

.outliner-plugin-zoom-header > .outliner-plugin-zoom-title {
  text-decoration: none;
  color: hsla(var(--accent-hsl), 0.8);
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title:hover {
  color: hsla(var(--accent-hsl), 1);
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title + span {
  color: transparent;
  font-size: 0;
}
.outliner-plugin-zoom-header > .outliner-plugin-zoom-title + span:before {
  font-size: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  color: var(--text-muted);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  content: "›";
  padding: 0 2px;
  position: relative;
}
