body .lt-predictions-container {
  font-family: var(--text);
  font-size: 14px;
  border: 1px solid var(--shade-10);
}

body .lt-buttoncontainer > button {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-normal);
  padding: 4px 14px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: var(--radius-m);
  cursor: var(--cursor);
}

body .lt-title:not(:empty) {
  font-weight: 500;
}

body .lt-status-bar-btn {
  margin: -2px 0;
}

body .lt-status-bar-btn svg {
  display: none;
  width: 14px;
  height: 14px;
}

body .lt-status-bar-btn.lt-loading svg {
  display: block;
}