body {
  --text-preview: var(--text-editor);
  --preview-font-size: var(--editor-font-size);
  --preview-line-height: var(--editor-line-height);
  --preview-line-height-rem: calc(var(--preview-line-height) * 1rem);
  --preview-font-weight: var(--editor-font-weight);
  --preview-font-features: var(--editor-font-features);
}

.markdown-preview-view {
  font-family: var(--text-preview);
  font-size: var(--preview-font-size);
  font-weight: var(--preview-font-weight);
  line-height: var(--preview-line-height);
  font-feature-settings: var(--preview-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-preview-section > div {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.is-mobile .markdown-preview-section > div {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.workspace-tabs
  .view-content
  > div
  > .markdown-preview-view
  > .markdown-preview-section
  > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.workspace-tabs
  .view-content
  > div
  > .markdown-preview-view
  .markdown-preview-section
  ul.contains-task-list {
  padding-inline-start: 1.5em;
}

.markdown-preview-view .internal-query.is-embed .internal-query-header {
  padding: 10px 0;
}

.markdown-preview-view .internal-query.is-embed {
  margin: 2.7rem 0;
  border: none;
  background: var(--shade-5);
  border-radius: var(--radius-l);
  padding: 10px;
}

.markdown-preview-view .internal-query.is-embed .internal-query-header-title {
  font-weight: 500;
  font-style: italic;
}

.markdown-preview-section hr {
  margin-top: var(--editor-line-height-rem);
  margin-bottom: var(--editor-line-height-rem);
  box-sizing: content-box;
  border: 0;
  color: transparent;
  display: block;
  height: var(--editor-line-height-rem);
  position: relative;
}

.markdown-preview-section hr:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--shade-10);
  top: 50%;
}

.markdown-preview-section img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

.markdown-preview-section img.emoji {
  display: inline;
  margin: 0;
}

.markdown-preview-section svg:not(:root) {
  overflow: hidden;
}

.markdown-preview-section ul {
  margin-left: 0;
  padding-inline-start: 1.2em;
  list-style: disc;
}
.markdown-preview-section ol {
  margin-left: 0;
  padding-inline-start: 1.2em;
  list-style: decimal;
}

.markdown-preview-section .footnotes li > p {
  display: block;
  margin-bottom: 0;
}

.markdown-preview-section .footnotes li > p + p {
  margin-top: 0.3rem;
}

.markdown-preview-section blockquote {
  position: relative;
  font-style: italic;
  border-radius: unset;
  border: unset;
  border-width: unset;
  background-color: unset;
  color: unset;
  padding: 0 0 0 1.4375rem;
  margin-inline-start: unset;
  border-left: 2px solid var(--shade-plus-darker);
}

.markdown-preview-view blockquote p {
  margin: 0;
}

.markdown-preview-view table {
  border: 1px solid var(--shade-plus-darker);
  margin-bottom: var(--editor-line-height-rem);
  border-collapse: unset;
  border-spacing: 0;
  overflow: hidden;
}

.markdown-preview-view th,
.markdown-preview-view td {
  vertical-align: top;
  border-color: var(--shade-plus-darker);
  border-right: none;
}

.cc-hide-table-vertical-dividers .markdown-preview-view th,
.cc-hide-table-vertical-dividers .markdown-preview-view td {
  border-left: none;
}

.markdown-preview-view th:first-child,
.markdown-preview-view td:first-child {
  padding-left: 15px;
}

.markdown-preview-view th {
  font-family: var(--text);
  background-color: var(--shade-plus-darker);
  border-bottom: none;
  font-weight: 400;
  font-size: 16px;
}

.markdown-preview-view tr + tr td {
  border-top: none;
}

.markdown-preview-section br {
  margin-bottom: 0;
}

.markdown-preview-section em,
.markdown-preview-section i {
  line-height: 0;
  vertical-align: baseline;
}

.markdown-preview-view code {
  color: var(--text-normal);
  font-size: 0.9em;
  margin: -2px 0;
}

.markdown-preview-view pre > code {
  margin: 0;
  background: none;
}

.markdown-preview-view pre {
  padding: 0 !important;
  border-radius: var(--radius-l);
}

.markdown-preview-section pre > code {
  padding: 1.4rem;
  display: block;
}

.cc-soft-wrap-code-blocks code[class*="language-"],
.cc-soft-wrap-code-blocks pre[class*="language-"] {
  overflow: hidden;
  white-space: pre-wrap ;
}

.markdown-preview-view sub,
.markdown-preview-view sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-preview-view sup {
  top: -0.5em;
}

.markdown-preview-view sub {
  bottom: -0.25em;
}

.frontmatter-container .tag,
.tag {
  display: inline;
  border: none;
  font-size: unset;
  padding: unset;
}

/* Pretty preview */
.cc-pretty-preview .markdown-preview-section > div > * {
  line-height: var(--editor-line-height);
  margin: 0 0 var(--editor-line-height-rem);
}

.cc-pretty-preview .markdown-preview-section > div .math * {
  letter-spacing: 0;
  margin-bottom: 0;
}

.cc-pretty-preview .markdown-preview-view div[data-tag-name="h1"] + div > h2 {
  margin-top: var(--editor-line-height-rem);
}

.cc-pretty-preview .markdown-preview-view div[data-tag-name="h2"] + div > h3,
.cc-pretty-preview .markdown-preview-view div[data-tag-name="h3"] + div > h4,
.cc-pretty-preview .markdown-preview-view div[data-tag-name="h4"] + div > h5 {
  margin-top: calc(var(--editor-line-height-rem) / 2);
}

.cc-pretty-preview .markdown-preview-view div[data-tag-name="h5"] + div > h6 {
  margin-top: 0;
}

.cc-pretty-preview
  .markdown-preview-section
  mjx-container[jax="CHTML"][display="true"] {
  margin: 0;
}

.cc-pretty-preview .markdown-preview-section li blockquote,
.cc-pretty-preview .markdown-preview-section ol ol,
.cc-pretty-preview .markdown-preview-section ul ul {
  margin-bottom: 0;
}

.cc-pretty-preview .markdown-preview-section ul li,
.cc-pretty-preview .markdown-preview-section ol li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cc-seamless-embed .internal-embed .markdown-embed {
  border-left: none;
  padding: 0;
}

.cc-seamless-embed .markdown-preview-view .markdown-embed-content {
  overflow: visible;
}

.cc-seamless-embed .markdown-embed-link svg {
  opacity: 1;
}

.cc-seamless-embed .internal-embed:not([src*="#^"]) .markdown-embed-link {
  width: unset;
  left: unset;
}

.cc-seamless-embed .internal-embed:not([src*="#^"]) .markdown-embed-link {
  width: unset;
  left: unset;
}

.cc-seamless-embed .markdown-embed-link {
  top: 0;
  line-height: inherit;
}

.cc-seamless-embed .markdown-embed-title {
  display: none;
}
