:root {
  --h1-size: 1.602em;
  --h1-line-height: 1.4;
  --h1-margin-top: 3;
  --h1-margin-bottom: 1;
  --h1-weight: 500;
  --h1-style: normal;

  --h2-size: 1.424em;
  --h2-line-height: 1.4;
  --h2-margin-top: 2.25;
  --h2-margin-bottom: 0.5;
  --h2-weight: 500;
  --h2-style: normal;

  --h3-size: 1.266em;
  --h3-line-height: 1.4;
  --h3-margin-top: 1.75;
  --h3-margin-bottom: 0.5;
  --h3-weight: 500;
  --h3-style: normal;

  --h4-size: 1.125em;
  --h4-line-height: 1.5;
  --h4-margin-top: 1.5;
  --h4-margin-bottom: 0.5;
  --h4-weight: 500;
  --h4-style: normal;

  --h5-size: 1em;
  --h5-line-height: 1.5;
  --h5-margin-top: 1.5;
  --h5-margin-bottom: 0.5;
  --h5-weight: 500;
  --h5-style: normal;

  --h6-size: 1em;
  --h6-line-height: 1.5;
  --h6-margin-top: 1.5;
  --h6-margin-bottom: 0.5;
  --h6-weight: 500;
  --h6-style: italic;

  /* Hidden settings */

  --h1-color: var(--text-normal);
  --h2-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --h5-color: var(--text-normal);
}

.cc-pretty-preview .markdown-preview-view h1,
.markdown-preview-view h1 {
  color: var(--h1-color);
  font-size: var(--h1-size) !important;
  line-height: var(--h1-line-height);
  margin-top: calc(var(--h1-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h1-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h1-weight);
  font-style: var(--h1-style);
}

.popover .markdown-embed .markdown-preview-view h1,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h1,
.workspace-tabs .markdown-preview-view h1 {
  margin-top: calc(var(--h2-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h2-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.cc-pretty-preview .markdown-preview-view h2,
.markdown-preview-view h2 {
  color: var(--h2-color);
  font-size: var(--h2-size) !important;
  line-height: var(--h2-line-height);
  margin-top: calc(var(--h2-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h2-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h2-weight);
  font-style: var(--h2-style);
}

.popover .markdown-embed .markdown-preview-view h2,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h2,
.workspace-tabs .markdown-preview-view h2 {
  margin-top: calc(var(--h2-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h2-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.cc-pretty-preview .markdown-preview-view h3,
.markdown-preview-view h3 {
  color: var(--h3-color);
  font-size: var(--h3-size) !important;
  line-height: var(--h3-line-height);
  margin-top: calc(var(--h3-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h3-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h3-weight);
  font-style: var(--h3-style);
}

.popover .markdown-embed .markdown-preview-view h3,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h3,
.workspace-tabs .markdown-preview-view h3 {
  margin-top: calc(var(--h3-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h3-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.cc-pretty-preview .markdown-preview-view h4,
.markdown-preview-view h4 {
  color: var(--h4-color);
  font-size: var(--h4-size) !important;
  line-height: var(--h4-line-height);
  margin-top: calc(var(--h4-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h4-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h4-weight);
  font-style: var(--h4-style);
}

.popover .markdown-embed .markdown-preview-view h4,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h4,
.workspace-tabs .markdown-preview-view h4 {
  margin-top: calc(var(--h4-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h4-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.cc-pretty-preview .markdown-preview-view h5,
.markdown-preview-view h5 {
  color: var(--h5-color);
  font-size: var(--h5-size) !important;
  line-height: var(--h5-line-height);
  margin-top: calc(var(--h5-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h5-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h5-weight);
  font-style: var(--h5-style);
}

.popover .markdown-embed .markdown-preview-view h5,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h5,
.workspace-tabs .markdown-preview-view h5 {
  margin-top: calc(var(--h5-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h5-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.cc-pretty-preview .markdown-preview-view h6,
.markdown-preview-view h6 {
  color: var(--h6-color);
  font-size: var(--h6-size) !important;
  line-height: var(--h6-line-height);
  margin-top: calc(var(--h6-margin-top) * var(--editor-line-height-rem));
  margin-bottom: calc(var(--h6-margin-bottom) * var(--editor-line-height-rem));
  font-weight: var(--h6-weight);
  font-style: var(--h6-style);
  color: var(--text-normal);
}

.popover .markdown-embed .markdown-preview-view h6,
.cc-pretty-preview .workspace-tabs .markdown-preview-view h6,
.workspace-tabs .markdown-preview-view h6 {
  margin-top: calc(var(--h6-margin-top) * var(--editor-line-height-small-rem));
  margin-bottom: calc(
    var(--h6-margin-bottom) * var(--editor-line-height-small-rem)
  );
}

.empty-state-title,
.cm-s-obsidian .HyperMD-header.HyperMD-header-1 {
  color: var(--h1-color);
  font-size: var(--h1-size) !important;
  font-weight: var(--h1-weight) !important;
  font-style: var(--h1-style);
  line-height: var(--h1-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-1:not(:only-child) {
  line-height: calc(var(--h1-size) * 1.8) !important;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-2 {
  color: var(--h2-color);
  font-size: var(--h2-size) !important;
  font-weight: var(--h2-weight) !important;
  font-style: var(--h2-style);
  line-height: var(--h2-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-2:not(:only-child) {
  line-height: calc(var(--h2-size) * 1.8) !important;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-3 {
  color: var(--h3-color);
  font-size: var(--h3-size) !important;
  font-weight: var(--h3-weight) !important;
  font-style: var(--h3-style);
  line-height: var(--h3-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-3:not(:only-child) {
  line-height: calc(var(--h3-size) * 1.8) !important;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-4 {
  color: var(--h4-color);
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  font-size: var(--h4-size) !important;
  font-weight: var(--h4-weight) !important;
  font-style: var(--h4-style);
  line-height: var(--h4-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-4:not(:only-child) {
  line-height: calc(var(--h4-size) * 1.8) !important;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-5 {
  color: var(--h5-color);
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  font-size: var(--h5-size) !important;
  font-weight: var(--h5-weight) !important;
  font-style: var(--h5-style);
  line-height: var(--h5-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-5:not(:only-child) {
  line-height: calc(var(--h5-size) * 1.8) !important;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-6 {
  font-variant: unset;
  text-transform: unset;
  letter-spacing: unset;
  color: var(--h6-color);
  font-size: var(--h6-size) !important;
  font-weight: var(--h6-weight) !important;
  font-style: var(--h6-style);
  line-height: var(--h6-line-height) !important;
}

.cc-editor-heading-hash .cm-s-obsidian .HyperMD-header .cm-formatting-header-6:not(:only-child) {
  line-height: calc(var(--h6-size) * 1.8) !important;
}

.cm-s-obsidian .cm-header-1,
.cm-s-obsidian .cm-header-2,
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

/* Embedded note titles */

.embedded-note-titles .markdown-preview-sizer {
  padding-top: 0rem;
}

html .embedded-note-titles .CodeMirror-lines {
  padding-top: 0;
}

.embedded-note-titles .markdown-preview-view:not(.community-plugin-readme) > h1,
.embedded-note-titles .CodeMirror-scroll > h1 {
  color: var(--h1-color);
  padding: 3.6rem 0 var(--editor-line-height-rem);
  margin: 0;
  font-family: var(--text-preview);
  font-weight: var(--h1-weight);
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}

.embedded-note-titles .CodeMirror-scroll > h1 {
  position: absolute;
  width: calc(100% - 7rem);
  font-family: var(--text-editor);
}

.embedded-note-titles.plugin-sliding-panes-rotate-header
  .markdown-preview-view
  > h1,
.embedded-note-titles.plugin-sliding-panes-rotate-header
  .CodeMirror-scroll
  > h1 {
  padding: 5rem 0 var(--editor-line-height-rem);
}

.embedded-note-titles
  .markdown-preview-view:not(.community-plugin-readme)
  > h1 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.embedded-note-titles .is-readable-line-width.markdown-preview-view > h1 {
  margin: 0 auto;
  width: var(--line-width) !important;
  max-width: var(--max-width) !important;
}

.embedded-note-titles.plugin-sliding-panes-rotate-header
  .markdown-preview-view
  > h1 {
  padding-left: var(--header-width);
  padding-right: calc(var(--header-width) * 2);
}

.community-plugin-readme.markdown-preview-view h1:first-child,
.community-plugin-readme.markdown-preview-view h2:first-child,
.community-plugin-readme.markdown-preview-view h3:first-child,
.community-plugin-readme.markdown-preview-view h4:first-child,
.community-plugin-readme.markdown-preview-view h5:first-child,
.community-plugin-readme.markdown-preview-view h6:first-child,
.markdown-preview-pusher + div > h1,
.markdown-preview-pusher + div > h2,
.markdown-preview-pusher + div > h3,
.markdown-preview-pusher + div > h4,
.markdown-preview-pusher + div > h5,
.markdown-preview-pusher + div > h6,
.markdown-preview-pusher + div:empty + div > h1,
.markdown-preview-pusher + div:empty + div > h2,
.markdown-preview-pusher + div:empty + div > h3,
.markdown-preview-pusher + div:empty + div > h4,
.markdown-preview-pusher + div:empty + div > h5,
.markdown-preview-pusher + div:empty + div > h6,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h1,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h2,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h3,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h4,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h5,
.markdown-preview-pusher + div[data-tag-name="pre"] + div > h6 {
  margin-top: 0 !important;
}
