body .kanban-plugin {
  background-color: var(--shade-0);
}

body .kanban-plugin__search-wrapper {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--shade-plus-darker);
}

body button.kanban-plugin__search-cancel-button {
  color: var(--text-normal);
  border: 1px solid transparent;
  border-radius: var(--radius-m);
  font-weight: 500;
  background-color: var(--shade-plus-darker);
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
  padding: 7px;
  position: relative;
  top: -1px;
  margin-left: 6px;
}

body button.kanban-plugin__search-cancel-button:hover {
  background-color: var(--shade-10);
}

body .kanban-plugin__markdown-preview-view {
  font: var(--text);
  font-size: 14px;
}

body .kanban-plugin__lane-title-text > .kanban-plugin__markdown-preview-view.markdown-preview-view {
  font-weight: 500;
}

body .kanban-plugin__lane {
  background: var(--shade-0);
  border: none;
  padding: 2px;
}

body .kanban-plugin__lane-header-wrapper {
  border-bottom: 0;
}

body .kanban-plugin__drag-container > .kanban-plugin__lane-wrapper > .kanban-plugin__lane {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2),
    0 0 0 3px hsla(var(--accent-hsl), 0.5);
}

body .kanban-plugin__lane-items {
  background-color: var(--shade-5);
  box-shadow: 0 0 0 4px var(--shade-5);
  padding: 0 3px;
  border-radius: var(--radius-l);
}

body.theme-dark .kanban-plugin__lane-items {
  background-color: var(--shade-3);
}

body .kanban-plugin__lane-items:empty {
  border-radius: 0;
  padding: 4px;
}

body .kanban-plugin__item-form {
  border-top: none;
  padding-top: 10px;
}

body .kanban-plugin__lane-header-wrapper + .kanban-plugin__item-form {
  padding-bottom: 12px;
}

body .kanban-plugin__lane-header-wrapper + .kanban-plugin__item-form,
body .kanban-plugin__lane-header-wrapper + .kanban-plugin__item-button-wrapper {
  padding-top: 0;
  border-bottom: none;
}

body .kanban-plugin__item {
  border-radius: var(--radius-l);
  background-color: var(--background-primary);
  border: none;
  margin-bottom: 6px;
  font-size: 14px;
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

body.theme-dark .kanban-plugin__item-content-wrapper {
  background-color: var(--shade-10);
}

body .kanban-plugin__item:last-child {
  margin-bottom: 0;
}

body .kanban-plugin__drag-container > .kanban-plugin__item-wrapper > .kanban-plugin__item {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2),
    0 0 0 3px hsla(var(--accent-hsl), 0.8);
}

body .kanban-plugin__item.is-search-hit {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2),
    0 0 0 2px var(--text-highlight-bg-active);
}

body .kanban-plugin__drag-container > .kanban-plugin__item-wrapper .kanban-plugin__item-content-wrapper {
  background-color: var(--background-primary);
}

body .markdown-preview-view.kanban-plugin__item-markdown {
  font-family: var(--text);
  line-height: 1.4;
}

body .is-dragging .markdown-preview-view.kanban-plugin__item-markdown,
body
  .kanban-plugin
  .kanban-plugin__item
  .markdown-preview-view.kanban-plugin__item-markdown {
  font-size: 1em;
}

body .is-dragging .markdown-preview-view.kanban-plugin__lane-title-text,
body .kanban-plugin .markdown-preview-view.kanban-plugin__lane-title-text {
  font-family: var(--text-normal);
  font-size: 14px;
  font-weight: 500;
}

body .kanban-plugin__markdown-preview-view .task-list-item-checkbox {
  margin-left: 4px;
}

body .kanban-plugin__item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .kanban-plugin__item-title-wrapper {
  padding: 8px 10px;
}

body .kanban-plugin__item-metadata:empty {
  display: none;
}

body .kanban-plugin__item-tags .kanban-plugin__item-tag {
  font-weight: 500;
  color: var(--text-muted);
  background-color: var(--shade-plus-darker);
  padding: 4px 5px !important;
  border-radius: var(--radius-s);
  line-height: 1;
}

body .kanban-plugin__item-tags .kanban-plugin__item-tag:hover {
  color: var(--text-accent);
}

body .kanban-plugin__item-tags .kanban-plugin__item-tag > span {
  display: inline-block;
  margin-right: 1px;
  color: var(--text-faint);
}

body .kanban-plugin__item-tags .kanban-plugin__item-tag:hover > span {
  color: hsla(var(--accent-hsl), 0.5);
}

body .kanban-plugin__item-button-wrapper {
  border-top: none;
}

body .kanban-plugin button {
  background-color: var(--shade-3);
  font-weight: 500;
}

body .kanban-plugin .kanban-plugin__item-edit-button-wrapper button {
  background-color: var(--shade-0);
}

body .kanban-plugin__lane-setting-wrapper > div:last-child {
  border-bottom: none;
}

body .kanban-plugin__lane-action-wrapper button {
  box-shadow: none;
}

body .kanban-plugin button:hover {
  color: var(--text-on-accent);
  background-color: var(--interactive-accent);
}

body .kanban-plugin__item button.kanban-plugin__item-edit-button,
body .kanban-plugin__lane button.kanban-plugin__lane-settings-button {
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 14px;
}

body .kanban-plugin__item button.kanban-plugin__item-edit-button.is-enabled,
body
  .kanban-plugin__lane
  button.kanban-plugin__lane-settings-button.is-enabled {
  color: var(--text-muted);
}

body .kanban-plugin__item button.kanban-plugin__item-edit-button:hover,
body .kanban-plugin__lane button.kanban-plugin__lane-settings-button:hover {
  color: var(--text-muted);
  background-color: var(--shade-plus-darker);
}

body .kanban-plugin__checkbox-wrapper {
  border: none;
}

body .kanban-plugin__new-lane-button,
body .kanban-plugin__new-item-button {
  font-weight: 500;
  font-size: 14px;
  background-color: var(--shade-plus-darker);
  border: 1px solid transparent;
}

body button.kanban-plugin__new-lane-button:hover,
body button.kanban-plugin__new-item-button:hover {
  background-color: var(--shade-plus-darker);
  color: var(--text-muted);
}

body button.kanban-plugin__new-lane-button {
  background-color: var(--shade-0);
  box-shadow: none;
  border: none;
  border-radius: var(--radius-m);
  width: auto;
}

body button.kanban-plugin__new-item-button {
  background-color: transparent;
}

body button.kanban-plugin__confirm-action-button:hover,
body button.kanban-plugin__item-button-delete:hover,
body button.kanban-plugin__delete-lane-button:hover {
  color: var(--text-error);
  background-color: rgba(var(--background-modifier-error-rgb), 0.2);
}

body .kanban-plugin__action-confirm-wrapper button {
  margin-bottom: 5px;
}

body .kanban-plugin__grow-wrap > textarea:focus {
  border-color: hsla(var(--accent-hsl), 0.5);
}

body .kanban-plugin__item-input-wrapper {
  border-top: none;
}

body .kanban-plugin__item-input-wrapper .kanban-plugin__grow-wrap > textarea,
body .kanban-plugin__item-input-wrapper .kanban-plugin__grow-wrap::after {
  font-size: 14px;
}

body .kanban-plugin__item-content-wrapper .kanban-plugin__grow-wrap > textarea,
body .kanban-plugin__item-content-wrapper .kanban-plugin__grow-wrap::after,
body .kanban-plugin__lane-input-wrapper .kanban-plugin__grow-wrap > textarea,
body .kanban-plugin__lane-input-wrapper .kanban-plugin__grow-wrap::after,
body .kanban-plugin__lane-title .kanban-plugin__grow-wrap > textarea,
body .kanban-plugin__lane-title .kanban-plugin__grow-wrap::after {
  font-size: 14px;
}

body button.kanban-plugin__item-action-add,
body button.kanban-plugin__lane-action-add {
  background-color: var(--interactive-accent);
}

body .kanban-plugin__item-settings-actions button,
body .kanban-plugin__lane-action-wrapper button,
body .kanban-plugin__action-confirm-wrapper button,
body .kanban-plugin__lane-input-actions button,
body .kanban-plugin__item-input-actions button {
  font-size: 13px;
}

body .kanban-plugin__lane-input-actions button,
body .kanban-plugin__item-input-actions button {
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

body .kanban-plugin__lane-grip {
  margin-left: -5px;
  margin-right: 4px;
}

body .kanban-plugin__autocomplete {
  font-weight: 500;
  font-size: 14px;
  border: none;
}

body .kanban-plugin__autocomplete-item-active,
body .kanban-plugin__autocomplete-item {
  padding: 4px 8px;
}

body .kanban-plugin__autocomplete-item:hover,
body .kanban-plugin__autocomplete-item-active {
  border-top: 1px solid transparent;
  background-color: var(--shade-5);
  color: var(--text-normal);
}

body .kanban-plugin__action-confirm-wrapper {
  margin: 5px 0;
  border-radius: var(--radius-l);
  border-width: 3px;
}

body .kanban-plugin__action-confirm-text {
  font-size: 14px;
  padding-bottom: 5px;
}

body .kanban-plugin__setting-item {
  background-color: var(--background-primary);
}

body .kanban-plugin__icon[data-icon="cross"] {
  color: var(--text-muted);

}

body .kanban-plugin__icon[data-icon="cross"] > svg {
  width: 1.2em;
  height: 1.2em;
}

body .kanban-plugin__lane-form-wrapper {
  background-color: var(--background-primary);
}