body .lt-predictions-container {
  font-family: var(--text);
  font-size: 14px;
  border: 1px solid var(--shade-10);
}

body .lt-buttoncontainer > button {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-normal);
  padding: 4px 14px;
  background: var(--background-primary);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: var(--radius-m);
  cursor: var(--cursor);
}

body.theme-dark .lt-buttoncontainer > button {
  color: #dfdedf;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
    inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  background-color: var(--shade-20);
}

body .lt-ignore-btn {
  background-color: var(--background-primary);
  font-size: 13px;
  font-weight: 500;
  color: var(--text-muted);
  transition: 100ms color, 100ms background-color;
}

body .lt-ignore-btn:hover {
  background-color: var(--shade-3);
  color: var(--text-normal);
}

body .lt-ignore-btn svg {
  width: 1em;
  height: 1em;
}

body .lt-title:not(:empty) {
  font-weight: 500;
}

body .lt-status-bar-btn {
  margin: -2px 0;
}

body .lt-status-bar-btn svg {
  display: none;
  width: 14px;
  height: 14px;
}

body .lt-status-bar-btn.lt-loading svg {
  display: block;
}
