body .workspace-leaf-content[data-type="dictionary-view"] .searchbox > input {
  margin: 0;
}

body .workspace-leaf-content[data-type="dictionary-view"] .searchbox > button {
  margin: 0 0 0 5px;
  padding: 0 10px;
  flex-shrink: 0;
  flex-grow: 0;
  color: var(--text-muted);
  background: var(--background-primary);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: var(--radius-m);
}

body
  .workspace-leaf-content[data-type="dictionary-view"]
  .searchbox
  > button
  > .gg-search {
  margin: 0;
  display: flex;
  top: -1px;
  left: -1px;
}

body
  .workspace-leaf-content[data-type="dictionary-view"]
  .results
  > .container {
  background-color: transparent;
  padding: 0;
}

body .workspace-leaf-content[data-type="dictionary-view"] h3 {
  font-size: 14px;
  font-weight: 500;
}

body .workspace-leaf-content[data-type="dictionary-view"] .container > .main {
  background: var(--shade-3);
  box-shadow: 0px 0.5px 1px 0.5px rgb(0 0 0 / 10%);
}

body
  .workspace-leaf-content[data-type="dictionary-view"]
  .definition:last-child {
  padding-bottom: 0;
}

body
  .workspace-leaf-content[data-type="dictionary-view"]
  details[open]
  summary
  ~ audio,
body
  .workspace-leaf-content[data-type="dictionary-view"]
  details[open]
  summary
  ~ div.definition {
  animation: none !important;
}

audio,
audio::-webkit-media-controls-panel {
  background: var(--background-primary);
}

audio {
  border-radius: 40px;
  border: 1px solid var(--shade-5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}
