body .zoom-plugin-header {
  border-bottom: 1px solid var(--shade-plus-darker);
  padding: 10px 17px;
  font-size: 14px;
  font-family: var(--text);
}

body .zoom-plugin-title {
  text-decoration: none;
}

body .zoom-plugin-header > span {
  color: transparent;
  font-size: 0;
}

body .zoom-plugin-header > span:before {
  font-size: 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  color: var(--text-muted);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  content: "›";
  padding: 0 2px;
  position: relative;
}
