.sr-deck-counts,
.tag-pane-tag-count.tree-item-flair[aria-label="Due cards"] {
    display: inline-block;
    padding: 2px 6px;
    line-height: 1;
    font-size: 16px;
}

.sr-modal-content .tag-pane-tag:hover .tag-pane-tag-count {
    color: #fff;
}