.cc-transparent-popover {
  .notice,
  .menu {
    background: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(20px);
    background-blend-mode: hard-light;
  }

  &.theme-dark {
    .notice,
    .menu {
      background-blend-mode: luminosity;
      background: rgba(60, 60, 60, 0.6);
    }
  }
}
